-m markdown
--markup-provider rdiscount
--exclude lib/aws.js
--no-api private
--api experimental
--no-highlight
--title "IBM COS SDK for JavaScript"
--template-path doc-src/templates
--plugin sitemap
-o doc/latest
-e doc-src/templates/api-versions/plugin.rb
--plugin js
--define-class-expr (AWS\.util\.)?inherit
--update-class-expr (AWS\.util\.)?update
--mixin-module-expr (AWS\.util\.)?mixin
--tag class_abstract:"Abstract Class"
--tag method_abstract:"Abstract Method"
--list-undoc
lib/core.js
lib/**/*.js
-
README.md
CHANGELOG.md
