{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2006-03-01",
    "checksumFormat": "md5",
    "endpointPrefix": "s3",
    "globalEndpoint": "s3.amazonaws.com",
    "protocol": "rest-xml",
    "serviceAbbreviation": "IBM COS",
    "serviceFullName": "IBM Cloud Object Storage",
    "signatureVersion": "s3",
    "timestampFormat": "rfc822",
    "uid": "s3-2006-03-01"
  },
  "operations": {
    "AbortMultipartUpload": {
      "name": "AbortMultipartUpload",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "AbortMultipartUploadRequest"
      },
      "output": {
        "shape": "AbortMultipartUploadOutput"
      },
      "errors": [
        {
          "shape": "NoSuchUpload"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html",
      "documentation": "<p>Aborts a multipart upload.</p><p>To verify that all parts have been removed, so you don't get charged for the part storage, you should call the List Parts operation and ensure the parts list is empty.</p>"
    },
    "CompleteMultipartUpload": {
      "name": "CompleteMultipartUpload",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "CompleteMultipartUploadRequest"
      },
      "output": {
        "shape": "CompleteMultipartUploadOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html",
      "documentation": "Completes a multipart upload by assembling previously uploaded parts."
    },
    "CopyObject": {
      "name": "CopyObject",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "CopyObjectRequest"
      },
      "output": {
        "shape": "CopyObjectOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html",
      "documentation": "Creates a copy of an object that is already stored in IBM COS.",
      "alias": "PutObjectCopy"
    },
    "CreateBucket": {
      "name": "CreateBucket",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}"
      },
      "input": {
        "shape": "CreateBucketRequest"
      },
      "output": {
        "shape": "CreateBucketOutput"
      },
      "errors": [
        {
          "shape": "BucketAlreadyExists"
        },
        {
          "shape": "BucketAlreadyOwnedByYou"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html",
      "documentation": "Creates a new bucket.",
      "alias": "PutBucket"
    },
    "CreateMultipartUpload": {
      "name": "CreateMultipartUpload",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}/{Key+}?uploads"
      },
      "input": {
        "shape": "CreateMultipartUploadRequest"
      },
      "output": {
        "shape": "CreateMultipartUploadOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html",
      "documentation": "<p>Initiates a multipart upload and returns an upload ID.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, IBM COS frees up the parts storage and stops charging you for the parts storage.</p>",
      "alias": "InitiateMultipartUpload"
    },
    "DeleteBucket": {
      "name": "DeleteBucket",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}"
      },
      "input": {
        "shape": "DeleteBucketRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html",
      "documentation": "Deletes the bucket. All objects (including all object versions and Delete Markers) in the bucket must be deleted before the bucket itself can be deleted."
    },
    "DeleteBucketCors": {
      "name": "DeleteBucketCors",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}?cors"
      },
      "input": {
        "shape": "DeleteBucketCorsRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html",
      "documentation": "Deletes the cors configuration information set for the bucket."
    },
    "DeleteObject": {
      "name": "DeleteObject",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "DeleteObjectRequest"
      },
      "output": {
        "shape": "DeleteObjectOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html",
      "documentation": "Removes the null version (if there is one) of an object and inserts a delete marker, which becomes the latest version of the object. If there isn't a null version, IBM COS does not remove any objects."
    },
    "DeleteObjects": {
      "name": "DeleteObjects",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}?delete"
      },
      "input": {
        "shape": "DeleteObjectsRequest"
      },
      "output": {
        "shape": "DeleteObjectsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html",
      "documentation": "This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.",
      "alias": "DeleteMultipleObjects"
    },
    "GetBucketAcl": {
      "name": "GetBucketAcl",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?acl"
      },
      "input": {
        "shape": "GetBucketAclRequest"
      },
      "output": {
        "shape": "GetBucketAclOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html",
      "documentation": "Gets the access control policy for the bucket."
    },
    "GetBucketCors": {
      "name": "GetBucketCors",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?cors"
      },
      "input": {
        "shape": "GetBucketCorsRequest"
      },
      "output": {
        "shape": "GetBucketCorsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html",
      "documentation": "Returns the cors configuration for the bucket."
    },
    "GetBucketLocation": {
      "name": "GetBucketLocation",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?location"
      },
      "input": {
        "shape": "GetBucketLocationRequest"
      },
      "output": {
        "shape": "GetBucketLocationOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html",
      "documentation": "Returns the region the bucket resides in."
    },
    "GetObject": {
      "name": "GetObject",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "GetObjectRequest"
      },
      "output": {
        "shape": "GetObjectOutput"
      },
      "errors": [
        {
          "shape": "NoSuchKey"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html",
      "documentation": "Retrieves objects from IBM COS."
    },
    "GetObjectAcl": {
      "name": "GetObjectAcl",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key+}?acl"
      },
      "input": {
        "shape": "GetObjectAclRequest"
      },
      "output": {
        "shape": "GetObjectAclOutput"
      },
      "errors": [
        {
          "shape": "NoSuchKey"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETacl.html",
      "documentation": "Returns the access control list (ACL) of an object."
    },
    "HeadBucket": {
      "name": "HeadBucket",
      "http": {
        "method": "HEAD",
        "requestUri": "/{Bucket}"
      },
      "input": {
        "shape": "HeadBucketRequest"
      },
      "output": {
        "shape": "HeadBucketOutput"
      },
      "errors": [
        {
          "shape": "NoSuchBucket"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html",
      "documentation": "This operation is useful to determine if a bucket exists and you have permission to access it."
    },
    "HeadObject": {
      "name": "HeadObject",
      "http": {
        "method": "HEAD",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "HeadObjectRequest"
      },
      "output": {
        "shape": "HeadObjectOutput"
      },
      "errors": [
        {
          "shape": "NoSuchKey"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html",
      "documentation": "The HEAD operation retrieves metadata from an object without returning the object itself. This operation is useful if you're only interested in an object's metadata. To use HEAD, you must have READ access to the object."
    },
    "ListBuckets": {
      "name": "ListBuckets",
      "http": {
        "method": "GET",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBucketsInput"
      },
      "output": {
        "shape": "ListBucketsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html",
      "documentation": "Returns a list of all buckets owned by the authenticated sender of the request.",
      "alias": "GetService"
    },
    "ListMultipartUploads": {
      "name": "ListMultipartUploads",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?uploads"
      },
      "input": {
        "shape": "ListMultipartUploadsRequest"
      },
      "output": {
        "shape": "ListMultipartUploadsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html",
      "documentation": "This operation lists in-progress multipart uploads."
    },
    "ListObjects": {
      "name": "ListObjects",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}"
      },
      "input": {
        "shape": "ListObjectsRequest"
      },
      "output": {
        "shape": "ListObjectsOutput"
      },
      "errors": [
        {
          "shape": "NoSuchBucket"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html",
      "documentation": "Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket.",
      "alias": "GetBucket"
    },
    "ListParts": {
      "name": "ListParts",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "ListPartsRequest"
      },
      "output": {
        "shape": "ListPartsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html",
      "documentation": "Lists the parts that have been uploaded for a specific multipart upload."
    },
    "PutBucketAcl": {
      "name": "PutBucketAcl",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?acl"
      },
      "input": {
        "shape": "PutBucketAclRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html",
      "documentation": "Sets the permissions on a bucket using access control lists (ACL)."
    },
    "PutBucketCors": {
      "name": "PutBucketCors",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?cors"
      },
      "input": {
        "shape": "PutBucketCorsRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html",
      "documentation": "Sets the cors configuration for a bucket."
    },
    "PutObject": {
      "name": "PutObject",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "PutObjectRequest"
      },
      "output": {
        "shape": "PutObjectOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html",
      "documentation": "Adds an object to a bucket."
    },
    "PutObjectAcl": {
      "name": "PutObjectAcl",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}?acl"
      },
      "input": {
        "shape": "PutObjectAclRequest"
      },
      "output": {
        "shape": "PutObjectAclOutput"
      },
      "errors": [
        {
          "shape": "NoSuchKey"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html",
      "documentation": "uses the acl subresource to set the access control list (ACL) permissions for an object that already exists in a bucket"
    },
    "UploadPart": {
      "name": "UploadPart",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "UploadPartRequest"
      },
      "output": {
        "shape": "UploadPartOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPart.html",
      "documentation": "<p>Uploads a part in a multipart upload.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, IBM COS frees up the parts storage and stops charging you for the parts storage.</p>"
    },
    "UploadPartCopy": {
      "name": "UploadPartCopy",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "UploadPartCopyRequest"
      },
      "output": {
        "shape": "UploadPartCopyOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html",
      "documentation": "Uploads a part by copying data from an existing object as data source."
    }
  },
  "shapes": {
    "AbortDate": {
      "type": "timestamp"
    },
    "AbortIncompleteMultipartUpload": {
      "type": "structure",
      "members": {
        "DaysAfterInitiation": {
          "shape": "DaysAfterInitiation",
          "documentation": "Indicates the number of days that must pass since initiation for Lifecycle to abort an Incomplete Multipart Upload."
        }
      },
      "documentation": "Specifies the days since the initiation of an Incomplete Multipart Upload that Lifecycle will wait before permanently removing all parts of the upload."
    },
    "AbortMultipartUploadOutput": {
      "type": "structure",
      "members": {}
    },
    "AbortMultipartUploadRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "UploadId": {
          "shape": "MultipartUploadId",
          "location": "querystring",
          "locationName": "uploadId"
        }
      }
    },
    "AbortRuleId": {
      "type": "string"
    },
    "AcceptRanges": {
      "type": "string"
    },
    "AccessControlPolicy": {
      "type": "structure",
      "members": {
        "Grants": {
          "shape": "Grants",
          "documentation": "A list of grants.",
          "locationName": "AccessControlList"
        },
        "Owner": {
          "shape": "Owner"
        }
      }
    },
    "AccountId": {
      "type": "string"
    },
    "AllowedHeader": {
      "type": "string"
    },
    "AllowedHeaders": {
      "type": "list",
      "member": {
        "shape": "AllowedHeader"
      },
      "flattened": true
    },
    "AllowedMethod": {
      "type": "string"
    },
    "AllowedMethods": {
      "type": "list",
      "member": {
        "shape": "AllowedMethod"
      },
      "flattened": true
    },
    "AllowedOrigin": {
      "type": "string"
    },
    "AllowedOrigins": {
      "type": "list",
      "member": {
        "shape": "AllowedOrigin"
      },
      "flattened": true
    },
    "Body": {
      "type": "blob"
    },
    "Bucket": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "BucketName",
          "documentation": "The name of the bucket."
        },
        "CreationDate": {
          "shape": "CreationDate",
          "documentation": "Date the bucket was created."
        }
      }
    },
    "BucketAlreadyExists": {
      "type": "structure",
      "members": {},
      "documentation": "The requested bucket name is not available. The bucket namespace is shared by all users of the system. Please select a different name and try again.",
      "exception": true
    },
    "BucketAlreadyOwnedByYou": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "BucketCannedACL": {
      "type": "string",
      "enum": [
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read"
      ]
    },
    "BucketLocationConstraint": {
      "type": "string",
      "enum": [
        "EU",
        "eu-west-1",
        "us-west-1",
        "us-west-2",
        "ap-south-1",
        "ap-southeast-1",
        "ap-southeast-2",
        "ap-northeast-1",
        "sa-east-1",
        "cn-north-1",
        "eu-central-1"
      ]
    },
    "BucketLogsPermission": {
      "type": "string",
      "enum": [
        "FULL_CONTROL",
        "READ",
        "WRITE"
      ]
    },
    "BucketName": {
      "type": "string"
    },
    "Buckets": {
      "type": "list",
      "member": {
        "shape": "Bucket",
        "locationName": "Bucket"
      }
    },
    "CORSConfiguration": {
      "type": "structure",
      "required": [
        "CORSRules"
      ],
      "members": {
        "CORSRules": {
          "shape": "CORSRules",
          "locationName": "CORSRule"
        }
      }
    },
    "CORSRule": {
      "type": "structure",
      "required": [
        "AllowedMethods",
        "AllowedOrigins"
      ],
      "members": {
        "AllowedHeaders": {
          "shape": "AllowedHeaders",
          "documentation": "Specifies which headers are allowed in a pre-flight OPTIONS request.",
          "locationName": "AllowedHeader"
        },
        "AllowedMethods": {
          "shape": "AllowedMethods",
          "documentation": "Identifies HTTP methods that the domain/origin specified in the rule is allowed to execute.",
          "locationName": "AllowedMethod"
        },
        "AllowedOrigins": {
          "shape": "AllowedOrigins",
          "documentation": "One or more origins you want customers to be able to access the bucket from.",
          "locationName": "AllowedOrigin"
        },
        "ExposeHeaders": {
          "shape": "ExposeHeaders",
          "documentation": "One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object).",
          "locationName": "ExposeHeader"
        },
        "MaxAgeSeconds": {
          "shape": "MaxAgeSeconds",
          "documentation": "The time in seconds that your browser is to cache the preflight response for the specified resource."
        }
      }
    },
    "CORSRules": {
      "type": "list",
      "member": {
        "shape": "CORSRule"
      },
      "flattened": true
    },
    "CacheControl": {
      "type": "string"
    },
    "CloudFunction": {
      "type": "string"
    },
    "CloudFunctionConfiguration": {
      "type": "structure",
      "members": {
        "Id": {
          "shape": "NotificationId"
        },
        "Event": {
          "shape": "Event",
          "deprecated": true
        },
        "Events": {
          "shape": "EventList",
          "locationName": "Event"
        },
        "CloudFunction": {
          "shape": "CloudFunction"
        },
        "InvocationRole": {
          "shape": "CloudFunctionInvocationRole"
        }
      }
    },
    "Code": {
      "type": "string"
    },
    "CommonPrefix": {
      "type": "structure",
      "members": {
        "Prefix": {
          "shape": "Prefix"
        }
      }
    },
    "CommonPrefixList": {
      "type": "list",
      "member": {
        "shape": "CommonPrefix"
      },
      "flattened": true
    },
    "CompleteMultipartUploadOutput": {
      "type": "structure",
      "members": {
        "Location": {
          "shape": "Location"
        },
        "Bucket": {
          "shape": "BucketName"
        },
        "Key": {
          "shape": "ObjectKey"
        },
        "Expiration": {
          "shape": "Expiration",
          "documentation": "If the object expiration is configured, this will contain the expiration date (expiry-date) and rule ID (rule-id). The value of rule-id is URL encoded.",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "ETag": {
          "shape": "ETag",
          "documentation": "Entity tag of the object."
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Version of the object.",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "If present, specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        }
      }
    },
    "CompleteMultipartUploadRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "MultipartUpload": {
          "shape": "CompletedMultipartUpload",
          "locationName": "CompleteMultipartUpload",
          "xmlNamespace": {
            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
          }
        },
        "UploadId": {
          "shape": "MultipartUploadId",
          "location": "querystring",
          "locationName": "uploadId"
        }
      },
      "payload": "MultipartUpload"
    },
    "CompletedMultipartUpload": {
      "type": "structure",
      "members": {
        "Parts": {
          "shape": "CompletedPartList",
          "locationName": "Part"
        }
      }
    },
    "CompletedPart": {
      "type": "structure",
      "members": {
        "ETag": {
          "shape": "ETag",
          "documentation": "Entity tag returned when the part was uploaded."
        },
        "PartNumber": {
          "shape": "PartNumber",
          "documentation": "Part number that identifies the part. This is a positive integer between 1 and 10,000."
        }
      }
    },
    "CompletedPartList": {
      "type": "list",
      "member": {
        "shape": "CompletedPart"
      },
      "flattened": true
    },
    "Condition": {
      "type": "structure",
      "members": {
        "HttpErrorCodeReturnedEquals": {
          "shape": "HttpErrorCodeReturnedEquals",
          "documentation": "The HTTP error code when the redirect is applied. In the event of an error, if the error code equals this value, then the specified redirect is applied. Required when parent element Condition is specified and sibling KeyPrefixEquals is not specified. If both are specified, then both must be true for the redirect to be applied."
        },
        "KeyPrefixEquals": {
          "shape": "KeyPrefixEquals",
          "documentation": "The object key name prefix when the redirect is applied. For example, to redirect requests for ExamplePage.html, the key prefix will be ExamplePage.html. To redirect request for all pages with the prefix docs/, the key prefix will be /docs, which identifies all objects in the docs/ folder. Required when the parent element Condition is specified and sibling HttpErrorCodeReturnedEquals is not specified. If both conditions are specified, both must be true for the redirect to be applied."
        }
      }
    },
    "ContentDisposition": {
      "type": "string"
    },
    "ContentEncoding": {
      "type": "string"
    },
    "ContentLanguage": {
      "type": "string"
    },
    "ContentLength": {
      "type": "long"
    },
    "ContentMD5": {
      "type": "string"
    },
    "ContentRange": {
      "type": "string"
    },
    "ContentType": {
      "type": "string"
    },
    "CopyObjectOutput": {
      "type": "structure",
      "members": {
        "CopyObjectResult": {
          "shape": "CopyObjectResult"
        },
        "Expiration": {
          "shape": "Expiration",
          "documentation": "If the object expiration is configured, the response includes this header.",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "CopySourceVersionId": {
          "shape": "CopySourceVersionId",
          "location": "header",
          "locationName": "x-amz-copy-source-version-id"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Version ID of the newly created copy.",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header to provide round trip message integrity verification of the customer-provided encryption key.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "If present, specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        }
      },
      "payload": "CopyObjectResult"
    },
    "CopyObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "CopySource",
        "Key"
      ],
      "members": {
        "ACL": {
          "shape": "ObjectCannedACL",
          "documentation": "The canned ACL to apply to the object.",
          "location": "header",
          "locationName": "x-amz-acl"
        },
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "CacheControl": {
          "shape": "CacheControl",
          "documentation": "Specifies caching behavior along the request/reply chain.",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ContentDisposition": {
          "shape": "ContentDisposition",
          "documentation": "Specifies presentational information for the object.",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "ContentEncoding",
          "documentation": "Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "ContentLanguage",
          "documentation": "The language the content is in.",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentType": {
          "shape": "ContentType",
          "documentation": "A standard MIME type describing the format of the object data.",
          "location": "header",
          "locationName": "Content-Type"
        },
        "CopySource": {
          "shape": "CopySource",
          "documentation": "The name of the source bucket and key name of the source object, separated by a slash (/). Must be URL-encoded.",
          "location": "header",
          "locationName": "x-amz-copy-source"
        },
        "CopySourceIfMatch": {
          "shape": "CopySourceIfMatch",
          "documentation": "Copies the object if its entity tag (ETag) matches the specified tag.",
          "location": "header",
          "locationName": "x-amz-copy-source-if-match"
        },
        "CopySourceIfModifiedSince": {
          "shape": "CopySourceIfModifiedSince",
          "documentation": "Copies the object if it has been modified since the specified time.",
          "location": "header",
          "locationName": "x-amz-copy-source-if-modified-since"
        },
        "CopySourceIfNoneMatch": {
          "shape": "CopySourceIfNoneMatch",
          "documentation": "Copies the object if its entity tag (ETag) is different than the specified ETag.",
          "location": "header",
          "locationName": "x-amz-copy-source-if-none-match"
        },
        "CopySourceIfUnmodifiedSince": {
          "shape": "CopySourceIfUnmodifiedSince",
          "documentation": "Copies the object if it hasn't been modified since the specified time.",
          "location": "header",
          "locationName": "x-amz-copy-source-if-unmodified-since"
        },
        "Expires": {
          "shape": "Expires",
          "documentation": "The date and time at which the object is no longer cacheable.",
          "location": "header",
          "locationName": "Expires"
        },
        "GrantFullControl": {
          "shape": "GrantFullControl",
          "documentation": "Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.",
          "location": "header",
          "locationName": "x-amz-grant-full-control"
        },
        "GrantRead": {
          "shape": "GrantRead",
          "documentation": "Allows grantee to read the object data and its metadata.",
          "location": "header",
          "locationName": "x-amz-grant-read"
        },
        "GrantReadACP": {
          "shape": "GrantReadACP",
          "documentation": "Allows grantee to read the object ACL.",
          "location": "header",
          "locationName": "x-amz-grant-read-acp"
        },
        "GrantWriteACP": {
          "shape": "GrantWriteACP",
          "documentation": "Allows grantee to write the ACL for the applicable object.",
          "location": "header",
          "locationName": "x-amz-grant-write-acp"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "Metadata": {
          "shape": "Metadata",
          "documentation": "A map of metadata to store with the object in S3.",
          "location": "headers",
          "locationName": "x-amz-meta-"
        },
        "MetadataDirective": {
          "shape": "MetadataDirective",
          "documentation": "Specifies whether the metadata is copied from the source object or replaced with metadata provided in the request.",
          "location": "header",
          "locationName": "x-amz-metadata-directive"
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "StorageClass": {
          "shape": "StorageClass",
          "documentation": "The type of storage to use for the object. Defaults to 'STANDARD'.",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "Specifies the algorithm to use to when encrypting the object (e.g., AES256).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "SSECustomerKey",
          "documentation": "Specifies the customer-provided encryption key for IBM COS to use in encrypting data. This value is used to store the object and then it is discarded; IBM does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. IBM COS uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "Specifies the AWS KMS key ID to use for object encryption. All GET and PUT requests for an object protected by AWS KMS will fail if not made via SSL or using SigV4. Documentation on configuring any of the officially supported AWS SDKs and CLI can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "CopySourceSSECustomerAlgorithm": {
          "shape": "CopySourceSSECustomerAlgorithm",
          "documentation": "Specifies the algorithm to use when decrypting the source object (e.g., AES256).",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-algorithm"
        },
        "CopySourceSSECustomerKey": {
          "shape": "CopySourceSSECustomerKey",
          "documentation": "Specifies the customer-provided encryption key for IBM COS to use to decrypt the source object. The encryption key provided in this header must be one that was used when the source object was created.",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-key"
        },
        "CopySourceSSECustomerKeyMD5": {
          "shape": "CopySourceSSECustomerKeyMD5",
          "documentation": "Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. IBM COS uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-key-MD5"
        }
      }
    },
    "CopyObjectResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "shape": "ETag"
        },
        "LastModified": {
          "shape": "LastModified"
        }
      }
    },
    "CopyPartResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "shape": "ETag",
          "documentation": "Entity tag of the object."
        },
        "LastModified": {
          "shape": "LastModified",
          "documentation": "Date and time at which the object was uploaded."
        }
      }
    },
    "CopySource": {
      "type": "string",
      "pattern": "\\/.+\\/.+"
    },
    "CopySourceIfMatch": {
      "type": "string"
    },
    "CopySourceIfModifiedSince": {
      "type": "timestamp"
    },
    "CopySourceIfNoneMatch": {
      "type": "string"
    },
    "CopySourceIfUnmodifiedSince": {
      "type": "timestamp"
    },
    "CopySourceRange": {
      "type": "string"
    },
    "CopySourceSSECustomerAlgorithm": {
      "type": "string"
    },
    "CopySourceSSECustomerKey": {
      "type": "blob",
      "sensitive": true
    },
    "CopySourceSSECustomerKeyMD5": {
      "type": "string"
    },
    "CopySourceVersionId": {
      "type": "string"
    },
    "CreateBucketConfiguration": {
      "type": "structure",
      "members": {
        "LocationConstraint": {
          "shape": "BucketLocationConstraint",
          "documentation": "Specifies the region where the bucket will be created. If you don't specify a region, the bucket will be created in US Standard."
        }
      }
    },
    "CreateBucketOutput": {
      "type": "structure",
      "members": {
        "Location": {
          "shape": "Location",
          "location": "header",
          "locationName": "Location"
        }
      }
    },
    "CreateBucketRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "ACL": {
          "shape": "BucketCannedACL",
          "documentation": "The canned ACL to apply to the bucket.",
          "location": "header",
          "locationName": "x-amz-acl"
        },
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "CreateBucketConfiguration": {
          "shape": "CreateBucketConfiguration",
          "locationName": "CreateBucketConfiguration",
          "xmlNamespace": {
            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
          }
        },
        "GrantFullControl": {
          "shape": "GrantFullControl",
          "documentation": "Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.",
          "location": "header",
          "locationName": "x-amz-grant-full-control"
        },
        "GrantRead": {
          "shape": "GrantRead",
          "documentation": "Allows grantee to list the objects in the bucket.",
          "location": "header",
          "locationName": "x-amz-grant-read"
        },
        "GrantReadACP": {
          "shape": "GrantReadACP",
          "documentation": "Allows grantee to read the bucket ACL.",
          "location": "header",
          "locationName": "x-amz-grant-read-acp"
        },
        "GrantWrite": {
          "shape": "GrantWrite",
          "documentation": "Allows grantee to create, overwrite, and delete any object in the bucket.",
          "location": "header",
          "locationName": "x-amz-grant-write"
        },
        "GrantWriteACP": {
          "shape": "GrantWriteACP",
          "documentation": "Allows grantee to write the ACL for the applicable bucket.",
          "location": "header",
          "locationName": "x-amz-grant-write-acp"
        },
        "IBMServiceInstanceId": {
          "shape": "IBMServiceInstanceId",
          "location": "header",
          "locationName": "Ibm-Service-Instance-Id",
          "documentation": "The storage account who will be the owner of the bucket."
        },
        "IBMSSEKPEncryptionAlgorithm":{
          "shape": "IBMSSEKPEncryptionAlgorithm",
          "location":"header",
          "locationName":"ibm-sse-kp-encryption-algorithm"
        },
        "IBMSSEKPCustomerRootKeyCrn":{
          "shape": "IBMSSEKPCustomerRootKeyCrn",
          "location":"header",
          "locationName":"ibm-sse-kp-customer-root-key-crn"
        }
      },
      "payload": "CreateBucketConfiguration"
    },
    "CreateMultipartUploadOutput": {
      "type": "structure",
      "members": {
        "AbortDate": {
          "shape": "AbortDate",
          "documentation": "Date when multipart upload will become eligible for abort operation by lifecycle.",
          "location": "header",
          "locationName": "x-amz-abort-date"
        },
        "AbortRuleId": {
          "shape": "AbortRuleId",
          "documentation": "Id of the lifecycle rule that makes a multipart upload eligible for abort operation.",
          "location": "header",
          "locationName": "x-amz-abort-rule-id"
        },
        "Bucket": {
          "shape": "BucketName",
          "documentation": "Name of the bucket to which the multipart upload was initiated.",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "documentation": "Object key for which the multipart upload was initiated."
        },
        "UploadId": {
          "shape": "MultipartUploadId",
          "documentation": "ID for the initiated multipart upload."
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header to provide round trip message integrity verification of the customer-provided encryption key.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "If present, specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        }
      }
    },
    "CreateMultipartUploadRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "ACL": {
          "shape": "ObjectCannedACL",
          "documentation": "The canned ACL to apply to the object.",
          "location": "header",
          "locationName": "x-amz-acl"
        },
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "CacheControl": {
          "shape": "CacheControl",
          "documentation": "Specifies caching behavior along the request/reply chain.",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ContentDisposition": {
          "shape": "ContentDisposition",
          "documentation": "Specifies presentational information for the object.",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "ContentEncoding",
          "documentation": "Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "ContentLanguage",
          "documentation": "The language the content is in.",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentType": {
          "shape": "ContentType",
          "documentation": "A standard MIME type describing the format of the object data.",
          "location": "header",
          "locationName": "Content-Type"
        },
        "Expires": {
          "shape": "Expires",
          "documentation": "The date and time at which the object is no longer cacheable.",
          "location": "header",
          "locationName": "Expires"
        },
        "GrantFullControl": {
          "shape": "GrantFullControl",
          "documentation": "Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.",
          "location": "header",
          "locationName": "x-amz-grant-full-control"
        },
        "GrantRead": {
          "shape": "GrantRead",
          "documentation": "Allows grantee to read the object data and its metadata.",
          "location": "header",
          "locationName": "x-amz-grant-read"
        },
        "GrantReadACP": {
          "shape": "GrantReadACP",
          "documentation": "Allows grantee to read the object ACL.",
          "location": "header",
          "locationName": "x-amz-grant-read-acp"
        },
        "GrantWriteACP": {
          "shape": "GrantWriteACP",
          "documentation": "Allows grantee to write the ACL for the applicable object.",
          "location": "header",
          "locationName": "x-amz-grant-write-acp"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "Metadata": {
          "shape": "Metadata",
          "documentation": "A map of metadata to store with the object in S3.",
          "location": "headers",
          "locationName": "x-amz-meta-"
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "StorageClass": {
          "shape": "StorageClass",
          "documentation": "The type of storage to use for the object. Defaults to 'STANDARD'.",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "Specifies the algorithm to use to when encrypting the object (e.g., AES256).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "SSECustomerKey",
          "documentation": "Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; IBM does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. IBM COS uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "Specifies the AWS KMS key ID to use for object encryption. All GET and PUT requests for an object protected by AWS KMS will fail if not made via SSL or using SigV4. Documentation on configuring any of the officially supported AWS SDKs and CLI can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        }
      }
    },
    "CreationDate": {
      "type": "timestamp"
    },
    "Date": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Days": {
      "type": "integer"
    },
    "DaysAfterInitiation": {
      "type": "integer"
    },
    "Delete": {
      "type": "structure",
      "required": [
        "Objects"
      ],
      "members": {
        "Objects": {
          "shape": "ObjectIdentifierList",
          "locationName": "Object"
        },
        "Quiet": {
          "shape": "Quiet",
          "documentation": "Element to enable quiet mode for the request. When you add this element, you must set its value to true."
        }
      }
    },
    "DeleteBucketCorsRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "DeleteBucketRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "DeleteMarker": {
      "type": "boolean"
    },
    "DeleteMarkerEntry": {
      "type": "structure",
      "members": {
        "Owner": {
          "shape": "Owner"
        },
        "Key": {
          "shape": "ObjectKey",
          "documentation": "The object key."
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Version ID of an object."
        },
        "IsLatest": {
          "shape": "IsLatest",
          "documentation": "Specifies whether the object is (true) or is not (false) the latest version of an object."
        },
        "LastModified": {
          "shape": "LastModified",
          "documentation": "Date and time the object was last modified."
        }
      }
    },
    "DeleteMarkerVersionId": {
      "type": "string"
    },
    "DeleteMarkers": {
      "type": "list",
      "member": {
        "shape": "DeleteMarkerEntry"
      },
      "flattened": true
    },
    "DeleteObjectOutput": {
      "type": "structure",
      "members": {
        "DeleteMarker": {
          "shape": "DeleteMarker",
          "documentation": "Specifies whether the versioned object that was permanently deleted was (true) or was not (false) a delete marker.",
          "location": "header",
          "locationName": "x-amz-delete-marker"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Returns the version ID of the delete marker created as a result of the DELETE operation.",
          "location": "header",
          "locationName": "x-amz-version-id"
        }
      }
    },
    "DeleteObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "MFA": {
          "shape": "MFA",
          "documentation": "The concatenation of the authentication device's serial number, a space, and the value that is displayed on your authentication device.",
          "location": "header",
          "locationName": "x-amz-mfa"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "VersionId used to reference a specific version of the object.",
          "location": "querystring",
          "locationName": "versionId"
        }
      }
    },
    "DeleteObjectsOutput": {
      "type": "structure",
      "members": {
        "Deleted": {
          "shape": "DeletedObjects"
        },
        "Errors": {
          "shape": "Errors",
          "locationName": "Error"
        }
      }
    },
    "DeleteObjectsRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Delete"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Delete": {
          "shape": "Delete",
          "locationName": "Delete",
          "xmlNamespace": {
            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
          }
        },
        "MFA": {
          "shape": "MFA",
          "documentation": "The concatenation of the authentication device's serial number, a space, and the value that is displayed on your authentication device.",
          "location": "header",
          "locationName": "x-amz-mfa"
        }
      },
      "payload": "Delete"
    },
    "DeletedObject": {
      "type": "structure",
      "members": {
        "Key": {
          "shape": "ObjectKey"
        },
        "VersionId": {
          "shape": "ObjectVersionId"
        },
        "DeleteMarker": {
          "shape": "DeleteMarker"
        },
        "DeleteMarkerVersionId": {
          "shape": "DeleteMarkerVersionId"
        }
      }
    },
    "DeletedObjects": {
      "type": "list",
      "member": {
        "shape": "DeletedObject"
      },
      "flattened": true
    },
    "Delimiter": {
      "type": "string"
    },
    "Destination": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "documentation": "Name of the bucket where you want IBM COS to store replicas of the object identified by the rule."
        },
        "StorageClass": {
          "shape": "StorageClass",
          "documentation": "The class of storage used to store the object."
        }
      }
    },
    "DisplayName": {
      "type": "string"
    },
    "ETag": {
      "type": "string"
    },
    "EmailAddress": {
      "type": "string"
    },
    "EncodingType": {
      "type": "string",
      "documentation": "Requests IBM COS to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that IBM COS encode the keys in the response.",
      "enum": [
        "url"
      ]
    },
    "Error": {
      "type": "structure",
      "members": {
        "Key": {
          "shape": "ObjectKey"
        },
        "VersionId": {
          "shape": "ObjectVersionId"
        },
        "Code": {
          "shape": "Code"
        },
        "Message": {
          "shape": "Message"
        }
      }
    },
    "ErrorDocument": {
      "type": "structure",
      "required": [
        "Key"
      ],
      "members": {
        "Key": {
          "shape": "ObjectKey",
          "documentation": "The object key name to use when a 4XX class error occurs."
        }
      }
    },
    "Errors": {
      "type": "list",
      "member": {
        "shape": "Error"
      },
      "flattened": true
    },
    "Event": {
      "type": "string",
      "documentation": "Bucket event for which to send notifications.",
      "enum": [
        "s3:ReducedRedundancyLostObject",
        "s3:ObjectCreated:*",
        "s3:ObjectCreated:Put",
        "s3:ObjectCreated:Post",
        "s3:ObjectCreated:Copy",
        "s3:ObjectCreated:CompleteMultipartUpload",
        "s3:ObjectRemoved:*",
        "s3:ObjectRemoved:Delete",
        "s3:ObjectRemoved:DeleteMarkerCreated"
      ]
    },
    "EventList": {
      "type": "list",
      "member": {
        "shape": "Event"
      },
      "flattened": true
    },
    "Expiration": {
      "type": "string"
    },
    "ExpirationStatus": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled"
      ]
    },
    "ExpiredObjectDeleteMarker": {
      "type": "boolean"
    },
    "Expires": {
      "type": "timestamp"
    },
    "ExposeHeader": {
      "type": "string"
    },
    "ExposeHeaders": {
      "type": "list",
      "member": {
        "shape": "ExposeHeader"
      },
      "flattened": true
    },
    "FetchOwner": {
      "type": "boolean"
    },
    "FilterRule": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "FilterRuleName",
          "documentation": "Object key name prefix or suffix identifying one or more objects to which the filtering rule applies. Maximum prefix length can be up to 1,024 characters. Overlapping prefixes and suffixes are not supported."
        },
        "Value": {
          "shape": "FilterRuleValue"
        }
      },
      "documentation": "Container for key value pair that defines the criteria for the filter rule."
    },
    "FilterRuleList": {
      "type": "list",
      "member": {
        "shape": "FilterRule"
      },
      "documentation": "A list of containers for key value pair that defines the criteria for the filter rule.",
      "flattened": true
    },
    "FilterRuleName": {
      "type": "string",
      "enum": [
        "prefix",
        "suffix"
      ]
    },
    "FilterRuleValue": {
      "type": "string"
    },
    "GetBucketAclOutput": {
      "type": "structure",
      "members": {
        "Owner": {
          "shape": "Owner"
        },
        "Grants": {
          "shape": "Grants",
          "documentation": "A list of grants.",
          "locationName": "AccessControlList"
        }
      }
    },
    "GetBucketAclRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "GetBucketCorsOutput": {
      "type": "structure",
      "members": {
        "CORSRules": {
          "shape": "CORSRules",
          "locationName": "CORSRule"
        }
      }
    },
    "GetBucketCorsRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "GetBucketLocationOutput": {
      "type": "structure",
      "members": {
        "LocationConstraint": {
          "shape": "BucketLocationConstraint"
        }
      }
    },
    "GetBucketLocationRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "GetObjectAclOutput": {
      "type": "structure",
      "members": {
        "Owner": {
          "shape": "Owner"
        },
        "Grants": {
          "shape": "Grants",
          "documentation": "A list of grants.",
          "locationName": "AccessControlList"
        }
      }
    },
    "GetObjectAclRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "VersionId used to reference a specific version of the object.",
          "location": "querystring",
          "locationName": "versionId"
        }
      }
    },
    "GetObjectOutput": {
      "type": "structure",
      "members": {
        "Body": {
          "shape": "Body",
          "documentation": "Object data.",
          "streaming": true
        },
        "DeleteMarker": {
          "shape": "DeleteMarker",
          "documentation": "Specifies whether the object retrieved was (true) or was not (false) a Delete Marker. If false, this response header does not appear in the response.",
          "location": "header",
          "locationName": "x-amz-delete-marker"
        },
        "AcceptRanges": {
          "shape": "AcceptRanges",
          "location": "header",
          "locationName": "accept-ranges"
        },
        "Expiration": {
          "shape": "Expiration",
          "documentation": "If the object expiration is configured (see PUT Bucket lifecycle), the response includes this header. It includes the expiry-date and rule-id key value pairs providing object expiration information. The value of the rule-id is URL encoded.",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "Restore": {
          "shape": "Restore",
          "documentation": "Provides information about object restoration operation and expiration time of the restored object copy.",
          "location": "header",
          "locationName": "x-amz-restore"
        },
        "LastModified": {
          "shape": "LastModified",
          "documentation": "Last modified date of the object",
          "location": "header",
          "locationName": "Last-Modified"
        },
        "ContentLength": {
          "shape": "ContentLength",
          "documentation": "Size of the body in bytes.",
          "location": "header",
          "locationName": "Content-Length"
        },
        "ETag": {
          "shape": "ETag",
          "documentation": "An ETag is an opaque identifier assigned by a web server to a specific version of a resource found at a URL",
          "location": "header",
          "locationName": "ETag"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Version of the object.",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "CacheControl": {
          "shape": "CacheControl",
          "documentation": "Specifies caching behavior along the request/reply chain.",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ContentDisposition": {
          "shape": "ContentDisposition",
          "documentation": "Specifies presentational information for the object.",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "ContentEncoding",
          "documentation": "Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "ContentLanguage",
          "documentation": "The language the content is in.",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentRange": {
          "shape": "ContentRange",
          "documentation": "The portion of the object returned in the response.",
          "location": "header",
          "locationName": "Content-Range"
        },
        "ContentType": {
          "shape": "ContentType",
          "documentation": "A standard MIME type describing the format of the object data.",
          "location": "header",
          "locationName": "Content-Type"
        },
        "Expires": {
          "shape": "Expires",
          "documentation": "The date and time at which the object is no longer cacheable.",
          "location": "header",
          "locationName": "Expires"
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "Metadata": {
          "shape": "Metadata",
          "documentation": "A map of metadata to store with the object in S3.",
          "location": "headers",
          "locationName": "x-amz-meta-"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header to provide round trip message integrity verification of the customer-provided encryption key.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "If present, specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "StorageClass": {
          "shape": "StorageClass",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "PartsCount": {
          "shape": "PartsCount",
          "documentation": "The count of parts this object has.",
          "location": "header",
          "locationName": "x-amz-mp-parts-count"
        }
      },
      "payload": "Body"
    },
    "GetObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "IfMatch": {
          "shape": "IfMatch",
          "documentation": "Return the object only if its entity tag (ETag) is the same as the one specified, otherwise return a 412 (precondition failed).",
          "location": "header",
          "locationName": "If-Match"
        },
        "IfModifiedSince": {
          "shape": "IfModifiedSince",
          "documentation": "Return the object only if it has been modified since the specified time, otherwise return a 304 (not modified).",
          "location": "header",
          "locationName": "If-Modified-Since"
        },
        "IfNoneMatch": {
          "shape": "IfNoneMatch",
          "documentation": "Return the object only if its entity tag (ETag) is different from the one specified, otherwise return a 304 (not modified).",
          "location": "header",
          "locationName": "If-None-Match"
        },
        "IfUnmodifiedSince": {
          "shape": "IfUnmodifiedSince",
          "documentation": "Return the object only if it has not been modified since the specified time, otherwise return a 412 (precondition failed).",
          "location": "header",
          "locationName": "If-Unmodified-Since"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "Range": {
          "shape": "Range",
          "documentation": "Downloads the specified range bytes of an object. For more information about the HTTP Range header, go to http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.",
          "location": "header",
          "locationName": "Range"
        },
        "ResponseCacheControl": {
          "shape": "ResponseCacheControl",
          "documentation": "Sets the Cache-Control header of the response.",
          "location": "querystring",
          "locationName": "response-cache-control"
        },
        "ResponseContentDisposition": {
          "shape": "ResponseContentDisposition",
          "documentation": "Sets the Content-Disposition header of the response",
          "location": "querystring",
          "locationName": "response-content-disposition"
        },
        "ResponseContentEncoding": {
          "shape": "ResponseContentEncoding",
          "documentation": "Sets the Content-Encoding header of the response.",
          "location": "querystring",
          "locationName": "response-content-encoding"
        },
        "ResponseContentLanguage": {
          "shape": "ResponseContentLanguage",
          "documentation": "Sets the Content-Language header of the response.",
          "location": "querystring",
          "locationName": "response-content-language"
        },
        "ResponseContentType": {
          "shape": "ResponseContentType",
          "documentation": "Sets the Content-Type header of the response.",
          "location": "querystring",
          "locationName": "response-content-type"
        },
        "ResponseExpires": {
          "shape": "ResponseExpires",
          "documentation": "Sets the Expires header of the response.",
          "location": "querystring",
          "locationName": "response-expires"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "VersionId used to reference a specific version of the object.",
          "location": "querystring",
          "locationName": "versionId"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "Specifies the algorithm to use to when encrypting the object (e.g., AES256).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "SSECustomerKey",
          "documentation": "Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; IBM does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. IBM COS uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "PartNumber": {
          "shape": "PartNumber",
          "documentation": "Part number of the object being read. This is a positive integer between 1 and 10,000. Effectively performs a 'ranged' GET request for the part specified. Useful for downloading just a part of an object.",
          "location": "querystring",
          "locationName": "partNumber"
        }
      }
    },
    "Grant": {
      "type": "structure",
      "members": {
        "Grantee": {
          "shape": "Grantee"
        },
        "Permission": {
          "shape": "Permission",
          "documentation": "Specifies the permission given to the grantee."
        }
      }
    },
    "GrantFullControl": {
      "type": "string"
    },
    "GrantRead": {
      "type": "string"
    },
    "GrantReadACP": {
      "type": "string"
    },
    "GrantWrite": {
      "type": "string"
    },
    "GrantWriteACP": {
      "type": "string"
    },
    "Grantee": {
      "type": "structure",
      "required": [
        "Type"
      ],
      "members": {
        "DisplayName": {
          "shape": "DisplayName",
          "documentation": "Screen name of the grantee."
        },
        "EmailAddress": {
          "shape": "EmailAddress",
          "documentation": "Email address of the grantee."
        },
        "ID": {
          "shape": "ID",
          "documentation": "The canonical user ID of the grantee."
        },
        "Type": {
          "shape": "Type",
          "documentation": "Type of grantee",
          "locationName": "xsi:type",
          "xmlAttribute": true
        },
        "URI": {
          "shape": "URI",
          "documentation": "URI of the grantee group."
        }
      },
      "xmlNamespace": {
        "prefix": "xsi",
        "uri": "http://www.w3.org/2001/XMLSchema-instance"
      }
    },
    "Grants": {
      "type": "list",
      "member": {
        "shape": "Grant",
        "locationName": "Grant"
      }
    },
    "HeadBucketRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "HeadObjectOutput": {
      "type": "structure",
      "members": {
        "DeleteMarker": {
          "shape": "DeleteMarker",
          "documentation": "Specifies whether the object retrieved was (true) or was not (false) a Delete Marker. If false, this response header does not appear in the response.",
          "location": "header",
          "locationName": "x-amz-delete-marker"
        },
        "AcceptRanges": {
          "shape": "AcceptRanges",
          "location": "header",
          "locationName": "accept-ranges"
        },
        "Expiration": {
          "shape": "Expiration",
          "documentation": "If the object expiration is configured (see PUT Bucket lifecycle), the response includes this header. It includes the expiry-date and rule-id key value pairs providing object expiration information. The value of the rule-id is URL encoded.",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "Restore": {
          "shape": "Restore",
          "documentation": "Provides information about object restoration operation and expiration time of the restored object copy.",
          "location": "header",
          "locationName": "x-amz-restore"
        },
        "LastModified": {
          "shape": "LastModified",
          "documentation": "Last modified date of the object",
          "location": "header",
          "locationName": "Last-Modified"
        },
        "ContentLength": {
          "shape": "ContentLength",
          "documentation": "Size of the body in bytes.",
          "location": "header",
          "locationName": "Content-Length"
        },
        "ETag": {
          "shape": "ETag",
          "documentation": "An ETag is an opaque identifier assigned by a web server to a specific version of a resource found at a URL",
          "location": "header",
          "locationName": "ETag"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Version of the object.",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "CacheControl": {
          "shape": "CacheControl",
          "documentation": "Specifies caching behavior along the request/reply chain.",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ContentDisposition": {
          "shape": "ContentDisposition",
          "documentation": "Specifies presentational information for the object.",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "ContentEncoding",
          "documentation": "Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "ContentLanguage",
          "documentation": "The language the content is in.",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentType": {
          "shape": "ContentType",
          "documentation": "A standard MIME type describing the format of the object data.",
          "location": "header",
          "locationName": "Content-Type"
        },
        "Expires": {
          "shape": "Expires",
          "documentation": "The date and time at which the object is no longer cacheable.",
          "location": "header",
          "locationName": "Expires"
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "Metadata": {
          "shape": "Metadata",
          "documentation": "A map of metadata to store with the object in S3.",
          "location": "headers",
          "locationName": "x-amz-meta-"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header to provide round trip message integrity verification of the customer-provided encryption key.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "If present, specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "StorageClass": {
          "shape": "StorageClass",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "PartsCount": {
          "shape": "PartsCount",
          "documentation": "The count of parts this object has.",
          "location": "header",
          "locationName": "x-amz-mp-parts-count"
        }
      }
    },
    "HeadObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "IfMatch": {
          "shape": "IfMatch",
          "documentation": "Return the object only if its entity tag (ETag) is the same as the one specified, otherwise return a 412 (precondition failed).",
          "location": "header",
          "locationName": "If-Match"
        },
        "IfModifiedSince": {
          "shape": "IfModifiedSince",
          "documentation": "Return the object only if it has been modified since the specified time, otherwise return a 304 (not modified).",
          "location": "header",
          "locationName": "If-Modified-Since"
        },
        "IfNoneMatch": {
          "shape": "IfNoneMatch",
          "documentation": "Return the object only if its entity tag (ETag) is different from the one specified, otherwise return a 304 (not modified).",
          "location": "header",
          "locationName": "If-None-Match"
        },
        "IfUnmodifiedSince": {
          "shape": "IfUnmodifiedSince",
          "documentation": "Return the object only if it has not been modified since the specified time, otherwise return a 412 (precondition failed).",
          "location": "header",
          "locationName": "If-Unmodified-Since"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "Range": {
          "shape": "Range",
          "documentation": "Downloads the specified range bytes of an object. For more information about the HTTP Range header, go to http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.35.",
          "location": "header",
          "locationName": "Range"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "VersionId used to reference a specific version of the object.",
          "location": "querystring",
          "locationName": "versionId"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "Specifies the algorithm to use to when encrypting the object (e.g., AES256).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "SSECustomerKey",
          "documentation": "Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; IBM does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. IBM COS uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "PartNumber": {
          "shape": "PartNumber",
          "documentation": "Part number of the object being read. This is a positive integer between 1 and 10,000. Effectively performs a 'ranged' HEAD request for the part specified. Useful querying about the size of the part and the number of parts in this object.",
          "location": "querystring",
          "locationName": "partNumber"
        }
      }
    },
    "HeadBucketOutput": {
      "type": "structure",
      "members": {
        "IBMSSEKPEnabled":{
          "shape": "IBMSSEKPEnabled",
          "location": "header",
          "locationName": "ibm-sse-kp-enabled"
        },
        "IBMSSEKPCustomerRootKeyCrn":{
          "shape": "IBMSSEKPCustomerRootKeyCrn",
          "location": "header",
          "locationName": "ibm-sse-kp-customer-root-key-crn"
        }
      }
    },
    "HostName": {
      "type": "string"
    },
    "HttpErrorCodeReturnedEquals": {
      "type": "string"
    },
    "HttpRedirectCode": {
      "type": "string"
    },
    "IBMServiceInstanceId": {
      "type": "string"
    },
    "IBMSSEKPCustomerRootKeyCrn": {
      "type": "string"
    },
    "IBMSSEKPEnabled": {
      "type": "boolean"
    },
    "IBMSSEKPEncryptionAlgorithm": {
      "type": "string"
    },
    "ID": {
      "type": "string"
    },
    "IfMatch": {
      "type": "string"
    },
    "IfModifiedSince": {
      "type": "timestamp"
    },
    "IfNoneMatch": {
      "type": "string"
    },
    "IfUnmodifiedSince": {
      "type": "timestamp"
    },
    "Initiated":{
      "type":"timestamp"
    },
    "Initiator": {
      "type": "structure",
      "members": {
        "ID": {
          "shape": "ID",
          "documentation": "If the principal is an AWS account, it provides the Canonical User ID. If the principal is an IAM User, it provides a user ARN value."
        },
        "DisplayName": {
          "shape": "DisplayName",
          "documentation": "Name of the Principal."
        }
      }
    },
    "IsEnabled": {
      "type": "boolean"
    },
    "IsLatest": {
      "type": "boolean"
    },
    "IsTruncated": {
      "type": "boolean"
    },
    "KeyCount": {
      "type": "integer"
    },
    "KeyMarker": {
      "type": "string"
    },
    "KeyPrefixEquals": {
      "type": "string"
    },
    "LastModified": {
      "type": "timestamp"
    },
    "ListBucketsInput": {
      "type": "structure",
      "members": {
        "IBMServiceInstanceId": {
          "location": "header",
          "locationName": "Ibm-Service-Instance-Id"
        }
      }
    },
    "ListBucketsOutput": {
      "type": "structure",
      "members": {
        "Buckets": {
          "shape": "Buckets"
        },
        "Owner": {
          "shape": "Owner"
        }
      }
    },
    "ListMultipartUploadsOutput": {
      "type": "structure",
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "documentation": "Name of the bucket to which the multipart upload was initiated."
        },
        "KeyMarker": {
          "shape": "KeyMarker",
          "documentation": "The key at or after which the listing began."
        },
        "UploadIdMarker": {
          "shape": "UploadIdMarker",
          "documentation": "Upload ID after which listing began."
        },
        "NextKeyMarker": {
          "shape": "NextKeyMarker",
          "documentation": "When a list is truncated, this element specifies the value that should be used for the key-marker request parameter in a subsequent request."
        },
        "Prefix": {
          "shape": "Prefix",
          "documentation": "When a prefix is provided in the request, this field contains the specified prefix. The result contains only keys starting with the specified prefix."
        },
        "Delimiter": {
          "shape": "Delimiter"
        },
        "NextUploadIdMarker": {
          "shape": "NextUploadIdMarker",
          "documentation": "When a list is truncated, this element specifies the value that should be used for the upload-id-marker request parameter in a subsequent request."
        },
        "MaxUploads": {
          "shape": "MaxUploads",
          "documentation": "Maximum number of multipart uploads that could have been included in the response."
        },
        "IsTruncated": {
          "shape": "IsTruncated",
          "documentation": "Indicates whether the returned list of multipart uploads is truncated. A value of true indicates that the list was truncated. The list can be truncated if the number of multipart uploads exceeds the limit allowed or specified by max uploads."
        },
        "Uploads": {
          "shape": "MultipartUploadList",
          "locationName": "Upload"
        },
        "CommonPrefixes": {
          "shape": "CommonPrefixList"
        },
        "EncodingType": {
          "shape": "EncodingType",
          "documentation": "Encoding type used by IBM COS to encode object keys in the response."
        }
      }
    },
    "ListMultipartUploadsRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Delimiter": {
          "shape": "Delimiter",
          "documentation": "Character you use to group keys.",
          "location": "querystring",
          "locationName": "delimiter"
        },
        "EncodingType": {
          "shape": "EncodingType",
          "location": "querystring",
          "locationName": "encoding-type"
        },
        "KeyMarker": {
          "shape": "KeyMarker",
          "documentation": "Together with upload-id-marker, this parameter specifies the multipart upload after which listing should begin.",
          "location": "querystring",
          "locationName": "key-marker"
        },
        "MaxUploads": {
          "shape": "MaxUploads",
          "documentation": "Sets the maximum number of multipart uploads, from 1 to 1,000, to return in the response body. 1,000 is the maximum number of uploads that can be returned in a response.",
          "location": "querystring",
          "locationName": "max-uploads"
        },
        "Prefix": {
          "shape": "Prefix",
          "documentation": "Lists in-progress uploads only for those keys that begin with the specified prefix.",
          "location": "querystring",
          "locationName": "prefix"
        },
        "UploadIdMarker": {
          "shape": "UploadIdMarker",
          "documentation": "Together with key-marker, specifies the multipart upload after which listing should begin. If key-marker is not specified, the upload-id-marker parameter is ignored.",
          "location": "querystring",
          "locationName": "upload-id-marker"
        }
      }
    },
    "ListObjectsOutput": {
      "type": "structure",
      "members": {
        "IBMSSEKPEnabled": {
          "shape": "IBMSSEKPEnabled",
          "location": "header",
          "locationName": "ibm-sse-kp-enabled"
        },
        "IBMSSEKPCustomerRootKeyCrn": {
          "shape": "IBMSSEKPCustomerRootKeyCrn",
          "location": "header",
          "locationName": "ibm-sse-kp-customer-root-key-crn"
        },
        "IsTruncated": {
          "shape": "IsTruncated",
          "documentation": "A flag that indicates whether or not IBM COS returned all of the results that satisfied the search criteria."
        },
        "Marker": {
          "shape": "Marker"
        },
        "NextMarker": {
          "shape": "NextMarker",
          "documentation": "When response is truncated (the IsTruncated element value in the response is true), you can use the key name in this field as marker in the subsequent request to get next set of objects. IBM COS lists objects in alphabetical order Note: This element is returned only if you have delimiter request parameter specified. If response does not include the NextMaker and it is truncated, you can use the value of the last Key in the response as the marker in the subsequent request to get the next set of object keys."
        },
        "Contents": {
          "shape": "ObjectList"
        },
        "Name": {
          "shape": "BucketName"
        },
        "Prefix": {
          "shape": "Prefix"
        },
        "Delimiter": {
          "shape": "Delimiter"
        },
        "MaxKeys": {
          "shape": "MaxKeys"
        },
        "CommonPrefixes": {
          "shape": "CommonPrefixList"
        },
        "EncodingType": {
          "shape": "EncodingType",
          "documentation": "Encoding type used by IBM COS to encode object keys in the response."
        }
      }
    },
    "ListObjectsRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Delimiter": {
          "shape": "Delimiter",
          "documentation": "A delimiter is a character you use to group keys.",
          "location": "querystring",
          "locationName": "delimiter"
        },
        "EncodingType": {
          "shape": "EncodingType",
          "location": "querystring",
          "locationName": "encoding-type"
        },
        "Marker": {
          "shape": "Marker",
          "documentation": "Specifies the key to start with when listing objects in a bucket.",
          "location": "querystring",
          "locationName": "marker"
        },
        "MaxKeys": {
          "shape": "MaxKeys",
          "documentation": "Sets the maximum number of keys returned in the response. The response might contain fewer keys but will never contain more.",
          "location": "querystring",
          "locationName": "max-keys"
        },
        "Prefix": {
          "shape": "Prefix",
          "documentation": "Limits the response to keys that begin with the specified prefix.",
          "location": "querystring",
          "locationName": "prefix"
        }
      }
    },
    "ListPartsOutput": {
      "type": "structure",
      "members": {
        "AbortDate": {
          "shape": "AbortDate",
          "documentation": "Date when multipart upload will become eligible for abort operation by lifecycle.",
          "location": "header",
          "locationName": "x-amz-abort-date"
        },
        "AbortRuleId": {
          "shape": "AbortRuleId",
          "documentation": "Id of the lifecycle rule that makes a multipart upload eligible for abort operation.",
          "location": "header",
          "locationName": "x-amz-abort-rule-id"
        },
        "Bucket": {
          "shape": "BucketName",
          "documentation": "Name of the bucket to which the multipart upload was initiated."
        },
        "Key": {
          "shape": "ObjectKey",
          "documentation": "Object key for which the multipart upload was initiated."
        },
        "UploadId": {
          "shape": "MultipartUploadId",
          "documentation": "Upload ID identifying the multipart upload whose parts are being listed."
        },
        "PartNumberMarker": {
          "shape": "PartNumberMarker",
          "documentation": "Part number after which listing begins."
        },
        "NextPartNumberMarker": {
          "shape": "NextPartNumberMarker",
          "documentation": "When a list is truncated, this element specifies the last part in the list, as well as the value to use for the part-number-marker request parameter in a subsequent request."
        },
        "MaxParts": {
          "shape": "MaxParts",
          "documentation": "Maximum number of parts that were allowed in the response."
        },
        "IsTruncated": {
          "shape": "IsTruncated",
          "documentation": "Indicates whether the returned list of parts is truncated."
        },
        "Parts": {
          "shape": "Parts",
          "locationName": "Part"
        },
        "Initiator": {
          "shape": "Initiator",
          "documentation": "Identifies who initiated the multipart upload."
        },
        "Owner": {
          "shape": "Owner"
        },
        "StorageClass": {
          "shape": "StorageClass",
          "documentation": "The class of storage used to store the object."
        }
      }
    },
    "ListPartsRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "MaxParts": {
          "shape": "MaxParts",
          "documentation": "Sets the maximum number of parts to return.",
          "location": "querystring",
          "locationName": "max-parts"
        },
        "PartNumberMarker": {
          "shape": "PartNumberMarker",
          "documentation": "Specifies the part after which listing should begin. Only parts with higher part numbers will be listed.",
          "location": "querystring",
          "locationName": "part-number-marker"
        },
        "UploadId": {
          "shape": "MultipartUploadId",
          "documentation": "Upload ID identifying the multipart upload whose parts are being listed.",
          "location": "querystring",
          "locationName": "uploadId"
        }
      }
    },
    "Location": {
      "type": "string"
    },
    "MFA": {
      "type": "string"
    },
    "Marker": {
      "type": "string"
    },
    "MaxAgeSeconds": {
      "type": "integer"
    },
    "MaxKeys": {
      "type": "integer"
    },
    "MaxParts": {
      "type": "integer"
    },
    "MaxUploads": {
      "type": "integer"
    },
    "Message": {
      "type": "string"
    },
    "Metadata": {
      "type": "map",
      "key": {
        "shape": "MetadataKey"
      },
      "value": {
        "shape": "MetadataValue"
      }
    },
    "MetadataDirective": {
      "type": "string",
      "enum": [
        "COPY",
        "REPLACE"
      ]
    },
    "MetadataKey": {
      "type": "string"
    },
    "MetadataValue": {
      "type": "string"
    },
    "MultipartUpload": {
      "type": "structure",
      "members": {
        "UploadId": {
          "shape": "MultipartUploadId",
          "documentation": "Upload ID that identifies the multipart upload."
        },
        "Key": {
          "shape": "ObjectKey",
          "documentation": "Key of the object for which the multipart upload was initiated."
        },
        "Initiated": {
          "shape": "Initiated",
          "documentation": "Date and time at which the multipart upload was initiated."
        },
        "StorageClass": {
          "shape": "StorageClass",
          "documentation": "The class of storage used to store the object."
        },
        "Owner": {
          "shape": "Owner"
        },
        "Initiator": {
          "shape": "Initiator",
          "documentation": "Identifies who initiated the multipart upload."
        }
      }
    },
    "MultipartUploadId": {
      "type": "string"
    },
    "MultipartUploadList": {
      "type": "list",
      "member": {
        "shape": "MultipartUpload"
      },
      "flattened": true
    },
    "NextKeyMarker": {
      "type": "string"
    },
    "NextMarker": {
      "type": "string"
    },
    "NextPartNumberMarker": {
      "type": "integer"
    },
    "NextToken": {
      "type": "string"
    },
    "NextUploadIdMarker": {
      "type": "string"
    },
    "NextVersionIdMarker": {
      "type": "string"
    },
    "NoSuchBucket": {
      "type": "structure",
      "members": {},
      "documentation": "The specified bucket does not exist.",
      "exception": true
    },
    "NoSuchKey": {
      "type": "structure",
      "members": {},
      "documentation": "The specified key does not exist.",
      "exception": true
    },
    "NoSuchUpload": {
      "type": "structure",
      "members": {},
      "documentation": "The specified multipart upload does not exist.",
      "exception": true
    },
    "NoncurrentVersionExpiration": {
      "type": "structure",
      "members": {
        "NoncurrentDays": {
          "shape": "Days",
          "documentation": "Specifies the number of days an object is noncurrent before IBM COS can perform the associated action."
        }
      },
[...]
