{
  "version": "2.0",
  "metadata": {
    "apiVersion": "2006-03-01",
    "checksumFormat": "md5",
    "endpointPrefix": "s3",
    "globalEndpoint": "s3.amazonaws.com",
    "protocol": "rest-xml",
    "serviceAbbreviation": "IBM COS",
    "serviceFullName": "IBM Cloud Object Storage",
    "signatureVersion": "s3",
    "timestampFormat": "rfc822",
    "uid": "s3-2006-03-01"
  },
  "operations": {
    "AbortMultipartUpload": {
      "name": "AbortMultipartUpload",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "AbortMultipartUploadRequest"
      },
      "output": {
        "shape": "AbortMultipartUploadOutput"
      },
      "errors": [
        {
          "shape": "NoSuchUpload"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html",
      "documentation": "<p>Aborts a multipart upload.</p><p>To verify that all parts have been removed, so you don't get charged for the part storage, you should call the List Parts operation and ensure the parts list is empty.</p>"
    },
    "AddLegalHold": {
      "name": "AddLegalHold",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}/{Key+}?legalHold&add={RetentionLegalHoldId}"
      },
      "input": {
        "shape": "LegalHoldRequest"
      },
      "documentation": "Add a legal hold on an object. The legal hold identifiers are stored in the object metadata along with the timestamp of when they are POSTed to the object. The presence of any legal hold identifiers prevents the modification or deletion of the object data, even if the retention period has expired. The presence of a retention period header is required, otherwise a 400 error is returned."
    },
    "CompleteMultipartUpload": {
      "name": "CompleteMultipartUpload",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "CompleteMultipartUploadRequest"
      },
      "output": {
        "shape": "CompleteMultipartUploadOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html",
      "documentation": "Completes a multipart upload by assembling previously uploaded parts."
    },
    "CopyObject": {
      "name": "CopyObject",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "CopyObjectRequest"
      },
      "output": {
        "shape": "CopyObjectOutput"
      },
      "errors": [
        {
          "shape": "ObjectNotInActiveTierError"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html",
      "documentation": "Creates a copy of an object that is already stored in Amazon S3.",
      "alias": "PutObjectCopy"
    },
    "CreateBucket": {
      "name": "CreateBucket",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}"
      },
      "input": {
        "shape": "CreateBucketRequest"
      },
      "output": {
        "shape": "CreateBucketOutput"
      },
      "errors": [
        {
          "shape": "BucketAlreadyExists"
        },
        {
          "shape": "BucketAlreadyOwnedByYou"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html",
      "documentation": "Creates a new bucket.",
      "alias": "PutBucket"
    },
    "CreateMultipartUpload": {
      "name": "CreateMultipartUpload",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}/{Key+}?uploads"
      },
      "input": {
        "shape": "CreateMultipartUploadRequest"
      },
      "output": {
        "shape": "CreateMultipartUploadOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html",
      "documentation": "<p>Initiates a multipart upload and returns an upload ID.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, IBM COS frees up the parts storage and stops charging you for the parts storage.</p>",
      "alias": "InitiateMultipartUpload"
    },
    "DeleteBucket": {
      "name": "DeleteBucket",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}"
      },
      "input": {
        "shape": "DeleteBucketRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html",
      "documentation": "Deletes the bucket. All objects (including all object versions and Delete Markers) in the bucket must be deleted before the bucket itself can be deleted."
    },
    "DeleteBucketCors": {
      "name": "DeleteBucketCors",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}?cors"
      },
      "input": {
        "shape": "DeleteBucketCorsRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html",
      "documentation": "Deletes the cors configuration information set for the bucket."
    },
    "DeleteLegalHold": {
      "name": "DeleteLegalHold",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}/{Key+}?legalHold&remove={RetentionLegalHoldId}"
      },
      "input":{
        "shape": "LegalHoldRequest"
      },
      "documentation": "Remove Legal hold on an object. The legal hold identifiers are stored in the object metadata along with the timestamp of when they are POSTed to the object. The presence of any legal hold identifiers prevents the modification or deletion of the object data, even if the retention period has expired. The presence of a retention period header is required, otherwise a 400 error is returned."
    },
    "DeleteBucketLifecycle": {
      "name": "DeleteBucketLifecycle",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}?lifecycle"
      },
      "input": {
        "shape": "DeleteBucketLifecycleRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html",
      "documentation": "Deletes the lifecycle configuration from the bucket."
    },
    "DeleteBucketTagging": {
      "name": "DeleteBucketTagging",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}?tagging",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteBucketTaggingRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html",
      "documentation": "<p>Deletes the tags from the bucket.</p>"
    },
    "DeleteBucketWebsite": {
      "name": "DeleteBucketWebsite",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}?website",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteBucketWebsiteRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html",
      "documentation": "<p>This operation removes the website configuration for a bucket. Amazon S3 returns a <code>200 OK</code> response upon successfully deleting a website configuration on the specified bucket. You will get a <code>200 OK</code> response if the website configuration you are trying to delete does not exist on the bucket. Amazon S3 returns a <code>404</code> response if the bucket specified in the request does not exist.</p> <p>This DELETE operation requires the <code>S3:DeleteBucketWebsite</code> permission. By default, only the bucket owner can delete the website configuration attached to a bucket. However, bucket owners can grant other users permission to delete the website configuration by writing a bucket policy granting them the <code>S3:DeleteBucketWebsite</code> permission. </p> <p>For more information about hosting websites, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html\">Hosting Websites on Amazon S3</a>. </p> <p>The following operations are related to <code>DeleteBucketWebsite</code>:</p> <ul> <li> <p> <a>GetBucketWebsite</a> </p> </li> <li> <p> <a>PutBucketWebsite</a> </p> </li> </ul>"
    },
    "DeleteObject": {
      "name": "DeleteObject",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "DeleteObjectRequest"
      },
      "output": {
        "shape": "DeleteObjectOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html",
      "documentation": "If object versioning is not enabled, deletes an object. If versioning is enabled, removes the null version (if there is one) of an object and inserts a delete marker, which becomes the latest version of the object. If there isn't a null version, IBM COS does not remove any objects."
    },
    "DeleteObjectTagging": {
      "name": "DeleteObjectTagging",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}/{Key+}?tagging",
        "responseCode": 204
      },
      "input": {
        "shape": "DeleteObjectTaggingRequest"
      },
      "output": {
        "shape": "DeleteObjectTaggingOutput"
      },
      "documentation": "<p>Removes the entire tag set from the specified object. For more information about managing object tags, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/object-tagging.html\"> Object Tagging</a>.</p> <p>To use this operation, you must have permission to perform the <code>s3:DeleteObjectTagging</code> action.</p> <p>To delete tags of a specific object version, add the <code>versionId</code> query parameter in the request. You will need permission for the <code>s3:DeleteObjectVersionTagging</code> action.</p> <p>The following operations are related to <code>DeleteBucketMetricsConfiguration</code>:</p> <ul> <li> <p> <a>PutObjectTagging</a> </p> </li> <li> <p> <a>GetObjectTagging</a> </p> </li> </ul>"
    },
    "DeleteObjects": {
      "name": "DeleteObjects",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}?delete"
      },
      "input": {
        "shape": "DeleteObjectsRequest"
      },
      "output": {
        "shape": "DeleteObjectsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html",
      "documentation": "This operation enables you to delete multiple objects from a bucket using a single HTTP request. You may specify up to 1000 keys.",
      "alias": "DeleteMultipleObjects"
    },
    "ExtendObjectRetention": {
      "name": "ExtendObjectRetention",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}/{Key+}?extendRetention"
      },
      "input": {
        "shape": "ExtendObjectRetentionRequest"
      },
      "documentation": "This implementation of the POST operation uses the extendRetention sub-resource to extend the retention period of a protected object in a protected vault."
    },
    "DeletePublicAccessBlock": {
      "name": "DeletePublicAccessBlock",
      "http": {
        "method": "DELETE",
        "requestUri": "/{Bucket}?publicAccessBlock",
        "responseCode": 204
      },
      "input": {
        "shape": "DeletePublicAccessBlockRequest"
      },
      "documentation": "<p>Removes the <code>PublicAccessBlock</code> configuration for an Amazon S3 bucket. To use this operation, you must have the <code>s3:PutBucketPublicAccessBlock</code> permission. For more information about permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html#using-with-s3-actions-related-to-bucket-subresources\">Permissions Related to Bucket Subresource Operations</a> and <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/s3-access-control.html\">Managing Access Permissions to Your Amazon S3 Resources</a>.</p> <p>The following operations are related to <code>DeletePublicAccessBlock</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html\">Using Amazon S3 Block Public Access</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetPublicAccessBlock.html\">GetPublicAccessBlock</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutPublicAccessBlock.html\">PutPublicAccessBlock</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketPolicyStatus.html\">GetBucketPolicyStatus</a> </p> </li> </ul>"
    },
    "GetBucketAcl": {
      "name": "GetBucketAcl",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?acl"
      },
      "input": {
        "shape": "GetBucketAclRequest"
      },
      "output": {
        "shape": "GetBucketAclOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html",
      "documentation": "Gets the access control policy for the bucket."
    },
    "GetBucketCors": {
      "name": "GetBucketCors",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?cors"
      },
      "input": {
        "shape": "GetBucketCorsRequest"
      },
      "output": {
        "shape": "GetBucketCorsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html",
      "documentation": "Returns the cors configuration for the bucket."
    },
    "GetBucketLifecycle": {
      "name": "GetBucketLifecycle",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?lifecycle"
      },
      "input": {
        "shape": "GetBucketLifecycleRequest"
      },
      "output": {
        "shape": "GetBucketLifecycleOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlifecycle.html",
      "documentation": "<p> No longer used, see the GetBucketLifecycleConfiguration operation.</p>",
      "deprecated": true
    },
    "GetBucketLifecycleConfiguration": {
      "name": "GetBucketLifecycleConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?lifecycle"
      },
      "input": {
        "shape": "GetBucketLifecycleConfigurationRequest"
      },
      "output": {
        "shape": "GetBucketLifecycleConfigurationOutput"
      },
      "documentation": "Returns the lifecycle configuration information set on the bucket."
    },
    "GetBucketLocation": {
      "name": "GetBucketLocation",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?location"
      },
      "input": {
        "shape": "GetBucketLocationRequest"
      },
      "output": {
        "shape": "GetBucketLocationOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html",
      "documentation": "Returns the region the bucket resides in."
    },
    "GetBucketProtectionConfiguration": {
      "name": "GetBucketProtectionConfiguration",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?protection"
      },
      "input": {
        "shape": "GetBucketProtectionConfigurationRequest"
      },
      "output": {
        "shape": "GetBucketProtectionConfigurationOutput"
      },
      "documentation": "Returns the protection configuration of a bucket."
    },
    "GetBucketTagging": {
      "name": "GetBucketTagging",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?tagging"
      },
      "input": {
        "shape": "GetBucketTaggingRequest"
      },
      "output": {
        "shape": "GetBucketTaggingOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html",
      "documentation": "<p>Returns the tag set associated with the bucket.</p>"
    },
    "GetBucketVersioning": {
      "name": "GetBucketVersioning",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?versioning"
      },
      "input": {
        "shape": "GetBucketVersioningRequest"
      },
      "output": {
        "shape": "GetBucketVersioningOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETversioningStatus.html",
      "documentation": "<p>Returns the versioning state of a bucket.</p>"
    },
    "GetBucketWebsite": {
      "name": "GetBucketWebsite",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?website"
      },
      "input": {
        "shape": "GetBucketWebsiteRequest"
      },
      "output": {
        "shape": "GetBucketWebsiteOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETwebsite.html",
      "documentation": "<p>Returns the website configuration for a bucket. To host website on Amazon S3, you can configure a bucket as website by adding a website configuration. For more information about hosting websites, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html\">Hosting Websites on Amazon S3</a>. </p> <p>This GET operation requires the <code>S3:GetBucketWebsite</code> permission. By default, only the bucket owner can read the bucket website configuration. However, bucket owners can allow other users to read the website configuration by writing a bucket policy granting them the <code>S3:GetBucketWebsite</code> permission.</p> <p>The following operations are related to <code>DeleteBucketWebsite</code>:</p> <ul> <li> <p> <a>DeleteBucketWebsite</a> </p> </li> <li> <p> <a>PutBucketWebsite</a> </p> </li> </ul>"
    },
    "GetObject": {
      "name": "GetObject",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "GetObjectRequest"
      },
      "output": {
        "shape": "GetObjectOutput"
      },
      "errors": [
        {
          "shape": "NoSuchKey"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html",
      "documentation": "Retrieves objects from IBM COS."
    },
    "GetObjectAcl": {
      "name": "GetObjectAcl",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key+}?acl"
      },
      "input": {
        "shape": "GetObjectAclRequest"
      },
      "output": {
        "shape": "GetObjectAclOutput"
      },
      "errors": [
        {
          "shape": "NoSuchKey"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETacl.html",
      "documentation": "Returns the access control list (ACL) of an object."
    },
    "GetObjectTagging": {
      "name": "GetObjectTagging",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key+}?tagging"
      },
      "input": {
        "shape": "GetObjectTaggingRequest"
      },
      "output": {
        "shape": "GetObjectTaggingOutput"
      },
      "documentation": "<p>Returns the tag-set of an object. You send the GET request against the tagging subresource associated with the object.</p> <p>To use this operation, you must have permission to perform the <code>s3:GetObjectTagging</code> action. By default, the GET operation returns information about current version of an object. For a versioned bucket, you can have multiple versions of an object in your bucket. To retrieve tags of any other version, use the versionId query parameter. You also need permission for the <code>s3:GetObjectVersionTagging</code> action.</p> <p> By default, the bucket owner has this permission and can grant this permission to others.</p> <p> For information about the Amazon S3 object tagging feature, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/object-tagging.html\">Object Tagging</a>.</p> <p>The following operation is related to <code>GetObjectTagging</code>:</p> <ul> <li> <p> <a>PutObjectTagging</a> </p> </li> </ul>"
    },
    "GetPublicAccessBlock": {
      "name": "GetPublicAccessBlock",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?publicAccessBlock"
      },
      "input": {
        "shape": "GetPublicAccessBlockRequest"
      },
      "output": {
        "shape": "GetPublicAccessBlockOutput"
      },
      "documentation": "<p>Retrieves the <code>PublicAccessBlock</code> configuration for an Amazon S3 bucket. To use this operation, you must have the <code>s3:GetBucketPublicAccessBlock</code> permission. For more information about Amazon S3 permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html\">Specifying Permissions in a Policy</a>.</p> <important> <p>When Amazon S3 evaluates the <code>PublicAccessBlock</code> configuration for a bucket or an object, it checks the <code>PublicAccessBlock</code> configuration for both the bucket (or the bucket that contains the object) and the bucket owner's account. If the <code>PublicAccessBlock</code> settings are different between the bucket and the account, Amazon S3 uses the most restrictive combination of the bucket-level and account-level settings.</p> </important> <p>For more information about when Amazon S3 considers a bucket or an object public, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html#access-control-block-public-access-policy-status\">The Meaning of \"Public\"</a>.</p> <p>The following operations are related to <code>GetPublicAccessBlock</code>:</p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html\">Using Amazon S3 Block Public Access</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_PutPublicAccessBlock.html\">PutPublicAccessBlock</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetPublicAccessBlock.html\">GetPublicAccessBlock</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeletePublicAccessBlock.html\">DeletePublicAccessBlock</a> </p> </li> </ul>"
    },
    "HeadBucket": {
      "name": "HeadBucket",
      "http": {
        "method": "HEAD",
        "requestUri": "/{Bucket}"
      },
      "input": {
        "shape": "HeadBucketRequest"
      },
      "output": {
        "shape": "HeadBucketOutput"
      },
      "errors": [
        {
          "shape": "NoSuchBucket"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html",
      "documentation": "This operation is useful to determine if a bucket exists and you have permission to access it."
    },
    "HeadObject": {
      "name": "HeadObject",
      "http": {
        "method": "HEAD",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "HeadObjectRequest"
      },
      "output": {
        "shape": "HeadObjectOutput"
      },
      "errors": [
        {
          "shape": "NoSuchKey"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html",
      "documentation": "The HEAD operation retrieves metadata from an object without returning the object itself. This operation is useful if you're only interested in an object's metadata. To use HEAD, you must have READ access to the object."
    },
    "ListBuckets": {
      "name": "ListBuckets",
      "http": {
        "method": "GET",
        "requestUri": "/"
      },
      "input": {
        "shape": "ListBucketsInput"
      },
      "output": {
        "shape": "ListBucketsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html",
      "documentation": "Returns a list of all buckets owned by the authenticated sender of the request.",
      "alias": "GetService"
    },
    "ListBucketsExtended": {
      "name": "ListBucketsExtended",
      "http": {
        "method": "GET",
        "requestUri": "/?extended"
      },
      "input": {
        "shape": "ListBucketsExtendedInput"
      },
      "output": {
        "shape": "ListBucketsExtendedOutput"
      },
      "documentationUrl": "https://cloud.ibm.com/docs/services/cloud-object-storage/api-reference?topic=cloud-object-storage-compatibility-api-bucket-operations#compatibility-api-list-buckets",
      "documentation": "Returns a list of all buckets owned by the authenticated sender of the request, along with the LocationConstraint describing the region that the bucket resides in and the bucket's storage tier.",
      "alias": "GetServiceExtended"
    },
    "ListLegalHolds": {
      "name": "ListLegalHolds",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key+}?legalHold"
      },
      "input": {
        "shape": "ListLegalHoldsRequest"
      },
      "output": {
        "shape": "ListLegalHoldsOutput"
      },
      "documentation": "Returns a list of legal holds on an object"
    },
    "ListMultipartUploads": {
      "name": "ListMultipartUploads",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?uploads"
      },
      "input": {
        "shape": "ListMultipartUploadsRequest"
      },
      "output": {
        "shape": "ListMultipartUploadsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html",
      "documentation": "This operation lists in-progress multipart uploads."
    },
    "ListObjectVersions": {
      "name": "ListObjectVersions",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?versions"
      },
      "input": {
        "shape": "ListObjectVersionsRequest"
      },
      "output": {
        "shape": "ListObjectVersionsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html",
      "documentation": "<p>Returns metadata about all of the versions of objects in a bucket.</p>",
      "alias": "GetBucketObjectVersions"
    },
    "ListObjects": {
      "name": "ListObjects",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}"
      },
      "input": {
        "shape": "ListObjectsRequest"
      },
      "output": {
        "shape": "ListObjectsOutput"
      },
      "errors": [
        {
          "shape": "NoSuchBucket"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html",
      "documentation": "Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket.",
      "alias": "GetBucket"
    },
    "ListObjectsV2": {
      "name": "ListObjectsV2",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}?list-type=2"
      },
      "input": {
        "shape": "ListObjectsV2Request"
      },
      "output": {
        "shape": "ListObjectsV2Output"
      },
      "errors": [
        {
          "shape": "NoSuchBucket"
        }
      ],
      "documentation": "<p>Returns some or all (up to 1000) of the objects in a bucket. You can use the request parameters as selection criteria to return a subset of the objects in a bucket. Note: ListObjectsV2 is the revised List Objects API and we recommend you use this revised API for new application development.</p>"
    },
    "ListParts": {
      "name": "ListParts",
      "http": {
        "method": "GET",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "ListPartsRequest"
      },
      "output": {
        "shape": "ListPartsOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html",
      "documentation": "Lists the parts that have been uploaded for a specific multipart upload."
    },
    "PutBucketAcl": {
      "name": "PutBucketAcl",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?acl"
      },
      "input": {
        "shape": "PutBucketAclRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html",
      "documentation": "Sets the permissions on a bucket using access control lists (ACL)."
    },
    "PutBucketCors": {
      "name": "PutBucketCors",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?cors"
      },
      "input": {
        "shape": "PutBucketCorsRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html",
      "documentation": "Sets the cors configuration for a bucket."
    },
    "PutBucketProtectionConfiguration": {
      "name": "PutBucketProtectionConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?protection"
      },
      "input": {
        "shape": "PutBucketProtectionConfigurationRequest"
      },
      "documentation": "Sets the protection configuration of an existing bucket."
    },
    "PutBucketLifecycle": {
      "name": "PutBucketLifecycle",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?lifecycle"
      },
      "input": {
        "shape": "PutBucketLifecycleRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlifecycle.html",
      "documentation": "<p> No longer used, see the PutBucketLifecycleConfiguration operation.</p>",
      "deprecated": true
    },
    "PutBucketLifecycleConfiguration": {
      "name": "PutBucketLifecycleConfiguration",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?lifecycle"
      },
      "input": {
        "shape": "PutBucketLifecycleConfigurationRequest"
      },
      "documentation": "Sets lifecycle configuration for your bucket. If a lifecycle configuration exists, it replaces it."
    },
    "PutBucketTagging": {
      "name": "PutBucketTagging",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?tagging"
      },
      "input": {
        "shape": "PutBucketTaggingRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html",
      "documentation": "<p>Sets the tags for a bucket.</p>"
    },
    "PutBucketVersioning": {
      "name": "PutBucketVersioning",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?versioning"
      },
      "input": {
        "shape": "PutBucketVersioningRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html",
      "documentation": "<p>Sets the versioning state of an existing bucket. To set the versioning state, you must be the bucket owner.</p>"
    },
    "PutBucketWebsite": {
      "name": "PutBucketWebsite",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?website"
      },
      "input": {
        "shape": "PutBucketWebsiteRequest"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html",
      "documentation": "<p>Sets the configuration of the website that is specified in the <code>website</code> subresource. To configure a bucket as a website, you can add this subresource on the bucket with website configuration information such as the file name of the index document and any redirect rules. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/WebsiteHosting.html\">Hosting Websites on Amazon S3</a>.</p> <p>This PUT operation requires the <code>S3:PutBucketWebsite</code> permission. By default, only the bucket owner can configure the website attached to a bucket; however, bucket owners can allow other users to set the website configuration by writing a bucket policy that grants them the <code>S3:PutBucketWebsite</code> permission.</p> <p>To redirect all website requests sent to the bucket's website endpoint, you add a website configuration with the following elements. Because all requests are sent to another website, you don't need to provide index document name for the bucket.</p> <ul> <li> <p> <code>WebsiteConfiguration</code> </p> </li> <li> <p> <code>RedirectAllRequestsTo</code> </p> </li> <li> <p> <code>HostName</code> </p> </li> <li> <p> <code>Protocol</code> </p> </li> </ul> <p>If you want granular control over redirects, you can use the following elements to add routing rules that describe conditions for redirecting requests and information about the redirect destination. In this case, the website configuration must provide an index document for the bucket, because some requests might not be redirected. </p> <ul> <li> <p> <code>WebsiteConfiguration</code> </p> </li> <li> <p> <code>IndexDocument</code> </p> </li> <li> <p> <code>Suffix</code> </p> </li> <li> <p> <code>ErrorDocument</code> </p> </li> <li> <p> <code>Key</code> </p> </li> <li> <p> <code>RoutingRules</code> </p> </li> <li> <p> <code>RoutingRule</code> </p> </li> <li> <p> <code>Condition</code> </p> </li> <li> <p> <code>HttpErrorCodeReturnedEquals</code> </p> </li> <li> <p> <code>KeyPrefixEquals</code> </p> </li> <li> <p> <code>Redirect</code> </p> </li> <li> <p> <code>Protocol</code> </p> </li> <li> <p> <code>HostName</code> </p> </li> <li> <p> <code>ReplaceKeyPrefixWith</code> </p> </li> <li> <p> <code>ReplaceKeyWith</code> </p> </li> <li> <p> <code>HttpRedirectCode</code> </p> </li> </ul> <p>Amazon S3 has a limitation of 50 routing rules per website configuration. If you require more than 50 routing rules, you can use object redirect. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/how-to-page-redirect.html\">Configuring an Object Redirect</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
      "httpChecksumRequired": true
    },
    "PutObject": {
      "name": "PutObject",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "PutObjectRequest"
      },
      "output": {
        "shape": "PutObjectOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html",
      "documentation": "Adds an object to a bucket."
    },
    "PutObjectAcl": {
      "name": "PutObjectAcl",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}?acl"
      },
      "input": {
        "shape": "PutObjectAclRequest"
      },
      "output": {
        "shape": "PutObjectAclOutput"
      },
      "errors": [
        {
          "shape": "NoSuchKey"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html",
      "documentation": "uses the acl subresource to set the access control list (ACL) permissions for an object that already exists in a bucket"
    },
    "PutObjectTagging": {
      "name": "PutObjectTagging",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}?tagging"
      },
      "input": {
        "shape": "PutObjectTaggingRequest"
      },
      "output": {
        "shape": "PutObjectTaggingOutput"
      },
      "documentation": "<p>Sets the supplied tag-set to an object that already exists in a bucket</p> <p>A tag is a key-value pair. You can associate tags with an object by sending a PUT request against the tagging subresource that is associated with the object. You can retrieve tags by sending a GET request. For more information, see <a>GetObjectTagging</a>.</p> <p>For tagging-related restrictions related to characters and encodings, see <a href=\"https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/allocation-tag-restrictions.html\">Tag Restrictions</a>. Note that Amazon S3 limits the maximum number of tags to 10 tags per object.</p> <p>To use this operation, you must have permission to perform the <code>s3:PutObjectTagging</code> action. By default, the bucket owner has this permission and can grant this permission to others.</p> <p>To put tags of any other version, use the <code>versionId</code> query parameter. You also need permission for the <code>s3:PutObjectVersionTagging</code> action.</p> <p>For information about the Amazon S3 object tagging feature, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/object-tagging.html\">Object Tagging</a>.</p> <p class=\"title\"> <b>Special Errors</b> </p> <ul> <li> <p class=\"title\"> <b/> </p> <ul> <li> <p> <i>Code: InvalidTagError </i> </p> </li> <li> <p> <i>Cause: The tag provided was not a valid tag. This error can occur if the tag did not pass input validation. For more information, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/object-tagging.html\">Object Tagging</a>.</i> </p> </li> </ul> </li> <li> <p class=\"title\"> <b/> </p> <ul> <li> <p> <i>Code: MalformedXMLError </i> </p> </li> <li> <p> <i>Cause: The XML provided does not match the schema.</i> </p> </li> </ul> </li> <li> <ul> <li> <p> <i>Code: OperationAbortedError </i> </p> </li> <li> <p> <i>Cause: A conflicting conditional operation is currently in progress against this resource. Please try again.</i> </p> </li> </ul> </li> <li> <ul> <li> <p> <i>Code: InternalError</i> </p> </li> <li> <p> <i>Cause: The service was unable to apply the provided tag to the object.</i> </p> </li> </ul> </li> </ul> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a>GetObjectTagging</a> </p> </li> </ul>"
    },
    "PutPublicAccessBlock": {
      "name": "PutPublicAccessBlock",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}?publicAccessBlock"
      },
      "input": {
        "shape": "PutPublicAccessBlockRequest"
      },
      "documentation": "<p>Creates or modifies the <code>PublicAccessBlock</code> configuration for an Amazon S3 bucket. To use this operation, you must have the <code>s3:PutBucketPublicAccessBlock</code> permission. For more information about Amazon S3 permissions, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-with-s3-actions.html\">Specifying Permissions in a Policy</a>.</p> <important> <p>When Amazon S3 evaluates the <code>PublicAccessBlock</code> configuration for a bucket or an object, it checks the <code>PublicAccessBlock</code> configuration for both the bucket (or the bucket that contains the object) and the bucket owner's account. If the <code>PublicAccessBlock</code> configurations are different between the bucket and the account, Amazon S3 uses the most restrictive combination of the bucket-level and account-level settings.</p> </important> <p>For more information about when Amazon S3 considers a bucket or an object public, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html#access-control-block-public-access-policy-status\">The Meaning of \"Public\"</a>.</p> <p class=\"title\"> <b>Related Resources</b> </p> <ul> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetPublicAccessBlock.html\">GetPublicAccessBlock</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_DeletePublicAccessBlock.html\">DeletePublicAccessBlock</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/API/API_GetBucketPolicyStatus.html\">GetBucketPolicyStatus</a> </p> </li> <li> <p> <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/access-control-block-public-access.html\">Using Amazon S3 Block Public Access</a> </p> </li> </ul>",
      "httpChecksumRequired": true
    },
    "RestoreObject": {
      "name": "RestoreObject",
      "http": {
        "method": "POST",
        "requestUri": "/{Bucket}/{Key+}?restore"
      },
      "input": {
        "shape": "RestoreObjectRequest"
      },
      "output": {
        "shape": "RestoreObjectOutput"
      },
      "errors": [
        {
          "shape": "ObjectAlreadyInActiveTierError"
        }
      ],
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectRestore.html",
      "documentation": "Restores an archived copy of an object back into Amazon S3",
      "alias": "PostObjectRestore"
    },
    "UploadPart": {
      "name": "UploadPart",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "UploadPartRequest"
      },
      "output": {
        "shape": "UploadPartOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPart.html",
      "documentation": "<p>Uploads a part in a multipart upload.</p><p><b>Note:</b> After you initiate multipart upload and upload one or more parts, you must either complete or abort multipart upload in order to stop getting charged for storage of the uploaded parts. Only after you either complete or abort multipart upload, IBM COS frees up the parts storage and stops charging you for the parts storage.</p>"
    },
    "UploadPartCopy": {
      "name": "UploadPartCopy",
      "http": {
        "method": "PUT",
        "requestUri": "/{Bucket}/{Key+}"
      },
      "input": {
        "shape": "UploadPartCopyRequest"
      },
      "output": {
        "shape": "UploadPartCopyOutput"
      },
      "documentationUrl": "http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html",
      "documentation": "Uploads a part by copying data from an existing object as data source."
    }
  },
  "shapes": {
    "AbortDate": {
      "type": "timestamp"
    },
    "AbortIncompleteMultipartUpload": {
      "type": "structure",
      "members": {
        "DaysAfterInitiation": {
          "shape": "DaysAfterInitiation",
          "documentation": "Indicates the number of days that must pass since initiation for Lifecycle to abort an Incomplete Multipart Upload."
        }
      },
      "documentation": "Specifies the days since the initiation of an Incomplete Multipart Upload that Lifecycle will wait before permanently removing all parts of the upload."
    },
    "AbortMultipartUploadOutput": {
      "type": "structure",
      "members": {}
    },
    "AbortMultipartUploadRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "UploadId": {
          "shape": "MultipartUploadId",
          "location": "querystring",
          "locationName": "uploadId"
        }
      }
    },
    "AbortRuleId": {
      "type": "string"
    },
    "AcceptRanges": {
      "type": "string"
    },
    "AccessControlPolicy": {
      "type": "structure",
      "members": {
        "Grants": {
          "shape": "Grants",
          "documentation": "A list of grants.",
          "locationName": "AccessControlList"
        },
        "Owner": {
          "shape": "Owner"
        }
      }
    },
    "AccountId": {
      "type": "string"
    },
    "AdditionalRetentionPeriod": {
      "type": "integer"
    },
    "AllowedHeader": {
      "type": "string"
    },
    "AllowedHeaders": {
      "type": "list",
      "member": {
        "shape": "AllowedHeader"
      },
      "flattened": true
    },
    "AllowedMethod": {
      "type": "string"
    },
    "AllowedMethods": {
      "type": "list",
      "member": {
        "shape": "AllowedMethod"
      },
      "flattened": true
    },
    "AllowedOrigin": {
      "type": "string"
    },
    "AllowedOrigins": {
      "type": "list",
      "member": {
        "shape": "AllowedOrigin"
      },
      "flattened": true
    },
    "Body": {
      "type": "blob"
    },
    "Bucket": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "BucketName",
          "documentation": "The name of the bucket."
        },
        "CreationDate": {
          "shape": "CreationDate",
          "documentation": "Date the bucket was created."
        },
        "LocationConstraint": {
          "shape": "BucketLocationConstraint"
        }
      }
    },
    "BucketAlreadyExists": {
      "type": "structure",
      "members": {},
      "documentation": "The requested bucket name is not available. The bucket namespace is shared by all users of the system. Please select a different name and try again.",
      "exception": true
    },
    "BucketAlreadyOwnedByYou": {
      "type": "structure",
      "members": {},
      "exception": true
    },
    "BucketCannedACL": {
      "type": "string",
      "enum": [
        "private",
        "public-read",
        "public-read-write",
        "authenticated-read"
      ]
    },
    "BucketLifecycleConfiguration": {
      "type": "structure",
      "required": [
        "Rules"
      ],
      "members": {
        "Rules": {
          "shape": "LifecycleRules",
          "locationName": "Rule"
        }
      }
    },
    "BucketLocationConstraint": {
      "type": "string",
      "enum": [
        "us-standard",
        "us-vault",
        "us-cold",
        "us-flex",
        "us-east-standard",
        "us-east-vault",
        "us-east-cold",
        "us-east-flex",
        "us-south-standard",
        "us-south-vault",
        "us-south-cold",
        "us-south-flex",
        "eu-standard",
        "eu-vault",
        "eu-cold",
        "eu-flex",
        "eu-gb-standard",
        "eu-gb-vault",
        "eu-gb-cold",
        "eu-gb-flex",
        "eu-de-standard",
        "eu-de-vault",
        "eu-de-cold",
        "eu-de-flex",
        "ap-standard",
        "ap-vault",
        "ap-cold",
        "ap-flex",
        "ams03-standard",
        "ams03-vault",
        "ams03-cold",
        "ams03-flex",
        "che01-standard",
        "che01-vault",
        "che01-cold",
        "che01-flex",
        "mel01-standard",
        "mel01-vault",
        "mel01-cold",
        "mel01-flex",
        "osl01-standard",
        "osl01-vault",
        "osl01-cold",
        "osl01-flex",
        "sao01-standard",
        "sao01-vault",
        "sao01-cold",
        "sao01-flex",
        "tor01-standard",
        "tor01-vault",
        "tor01-cold",
        "tor01-flex"
      ]
    },
    "BucketLogsPermission": {
      "type": "string",
      "enum": [
        "FULL_CONTROL",
        "READ",
        "WRITE"
      ]
    },
    "BucketName": {
      "type": "string"
    },
    "BucketProtectionDefaultRetention": {
      "type": "structure",
      "required": ["Days"],
      "members": {
        "Days": {
          "shape": "Days"
        }
      }
    },
    "BucketProtectionMaximumRetention": {
      "type": "structure",
      "required": ["Days"],
      "members": {
        "Days": {
          "shape": "Days"
        }
      }
    },
    "BucketProtectionMinimumRetention": {
      "type": "structure",
      "required": ["Days"],
      "members": {
        "Days": {
          "shape": "Days"
        }
      }
    },
    "BucketProtectionStatus": {
      "type": "string",
      "enum": [
        "Retention"
      ]
    },
    "BucketProtectionEnablePermanentRetention": {
      "type": "boolean"
    },
    "Buckets": {
      "type": "list",
      "member": {
        "shape": "Bucket",
        "locationName": "Bucket"
      }
    },
    "BucketVersioningStatus": {
      "type": "string",
      "enum": [
        "Enabled",
        "Suspended"
      ]
    },
    "CORSConfiguration": {
      "type": "structure",
      "required": [
        "CORSRules"
      ],
      "members": {
        "CORSRules": {
          "shape": "CORSRules",
          "locationName": "CORSRule"
        }
      }
    },
    "CORSRule": {
      "type": "structure",
      "required": [
        "AllowedMethods",
        "AllowedOrigins"
      ],
      "members": {
        "AllowedHeaders": {
          "shape": "AllowedHeaders",
          "documentation": "Specifies which headers are allowed in a pre-flight OPTIONS request.",
          "locationName": "AllowedHeader"
        },
        "AllowedMethods": {
          "shape": "AllowedMethods",
          "documentation": "Identifies HTTP methods that the domain/origin specified in the rule is allowed to execute.",
          "locationName": "AllowedMethod"
        },
        "AllowedOrigins": {
          "shape": "AllowedOrigins",
          "documentation": "One or more origins you want customers to be able to access the bucket from.",
          "locationName": "AllowedOrigin"
        },
        "ExposeHeaders": {
          "shape": "ExposeHeaders",
          "documentation": "One or more headers in the response that you want customers to be able to access from their applications (for example, from a JavaScript XMLHttpRequest object).",
          "locationName": "ExposeHeader"
        },
        "MaxAgeSeconds": {
          "shape": "MaxAgeSeconds",
          "documentation": "The time in seconds that your browser is to cache the preflight response for the specified resource."
        }
      }
    },
    "CORSRules": {
      "type": "list",
      "member": {
        "shape": "CORSRule"
      },
      "flattened": true
    },
    "CacheControl": {
      "type": "string"
    },
    "CloudFunction": {
      "type": "string"
    },
    "Code": {
      "type": "string"
    },
    "CommonPrefix": {
      "type": "structure",
      "members": {
        "Prefix": {
          "shape": "Prefix"
        }
      }
    },
    "CommonPrefixList": {
      "type": "list",
      "member": {
        "shape": "CommonPrefix"
      },
      "flattened": true
    },
    "CompleteMultipartUploadOutput": {
      "type": "structure",
      "members": {
        "Location": {
          "shape": "Location"
        },
        "Bucket": {
          "shape": "BucketName"
        },
        "Key": {
          "shape": "ObjectKey"
        },
        "Expiration": {
          "shape": "Expiration",
          "documentation": "If the object expiration is configured, this will contain the expiration date (expiry-date) and rule ID (rule-id). The value of rule-id is URL encoded.",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "ETag": {
          "shape": "ETag",
          "documentation": "Entity tag of the object."
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Version of the object.",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "If present, specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        }
      }
    },
    "CompleteMultipartUploadRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key",
        "UploadId"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "MultipartUpload": {
          "shape": "CompletedMultipartUpload",
          "locationName": "CompleteMultipartUpload",
          "xmlNamespace": {
            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
          }
        },
        "RetentionExpirationDate": {
          "shape": "RetentionExpirationDate",
          "documentation": "Date on which it will be legal to delete or modify the object. You can only specify this or the Retention-Period header. If both are specified a 400 error will be returned. If neither is specified the bucket's DefaultRetention period will be used. This header should be used to calculate a retention period in seconds and then stored in that manner.",
          "location": "header",
          "locationName": "Retention-Expiration-Date"
        },
        "RetentionLegalHoldId": {
          "shape": "RetentionLegalHoldID",
          "documentation": "A single legal hold to apply to the object. A legal hold is a character long string of max length 64. The object cannot be overwritten or deleted until all legal holds associated with the object are removed.",
          "location": "header",
          "locationName": "Retention-Legal-Hold-ID"
        },
        "RetentionPeriod": {
          "shape": "RetentionPeriod",
          "documentation": "Retention period to store on the object in seconds. If this field and Retention-Expiration-Date are specified a 400 error is returned. If neither is specified the bucket's DefaultRetention period will be used. 0 is a legal value assuming the bucket's minimum retention period is also 0.",
          "location": "header",
          "locationName": "Retention-Period"
        },
        "UploadId": {
          "shape": "MultipartUploadId",
          "location": "querystring",
          "locationName": "uploadId"
        }
      },
      "payload": "MultipartUpload"
    },
    "CompletedMultipartUpload": {
      "type": "structure",
      "members": {
        "Parts": {
          "shape": "CompletedPartList",
          "locationName": "Part"
        }
      }
    },
    "CompletedPart": {
      "type": "structure",
      "members": {
        "ETag": {
          "shape": "ETag",
          "documentation": "Entity tag returned when the part was uploaded."
        },
        "PartNumber": {
          "shape": "PartNumber",
          "documentation": "Part number that identifies the part. This is a positive integer between 1 and 10,000."
        }
      }
    },
    "CompletedPartList": {
      "type": "list",
      "member": {
        "shape": "CompletedPart"
      },
      "flattened": true
    },
    "Condition": {
      "type": "structure",
      "members": {
        "HttpErrorCodeReturnedEquals": {
          "shape": "HttpErrorCodeReturnedEquals",
          "documentation": "The HTTP error code when the redirect is applied. In the event of an error, if the error code equals this value, then the specified redirect is applied. Required when parent element Condition is specified and sibling KeyPrefixEquals is not specified. If both are specified, then both must be true for the redirect to be applied."
        },
        "KeyPrefixEquals": {
          "shape": "KeyPrefixEquals",
          "documentation": "The object key name prefix when the redirect is applied. For example, to redirect requests for ExamplePage.html, the key prefix will be ExamplePage.html. To redirect request for all pages with the prefix docs/, the key prefix will be /docs, which identifies all objects in the docs/ folder. Required when the parent element Condition is specified and sibling HttpErrorCodeReturnedEquals is not specified. If both conditions are specified, both must be true for the redirect to be applied."
        }
      }
    },
    "ContentDisposition": {
      "type": "string"
    },
    "ContentEncoding": {
      "type": "string"
    },
    "ContentLanguage": {
      "type": "string"
    },
    "ContentLength": {
      "type": "long"
    },
    "ContentMD5": {
      "type": "string"
    },
    "ContentRange": {
      "type": "string"
    },
    "ContentType": {
      "type": "string"
    },
    "CopyObjectOutput": {
      "type": "structure",
      "members": {
        "CopyObjectResult": {
          "shape": "CopyObjectResult"
        },
        "Expiration": {
          "shape": "Expiration",
          "documentation": "If the object expiration is configured, the response includes this header.",
          "location": "header",
          "locationName": "x-amz-expiration"
        },
        "CopySourceVersionId": {
          "shape": "CopySourceVersionId",
          "location": "header",
          "locationName": "x-amz-copy-source-version-id"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Version ID of the newly created copy.",
          "location": "header",
          "locationName": "x-amz-version-id"
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header to provide round trip message integrity verification of the customer-provided encryption key.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "If present, specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        }
      },
      "payload": "CopyObjectResult"
    },
    "CopyObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "CopySource",
        "Key"
      ],
      "members": {
        "ACL": {
          "shape": "ObjectCannedACL",
          "documentation": "The canned ACL to apply to the object.",
          "location": "header",
          "locationName": "x-amz-acl"
        },
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "CacheControl": {
          "shape": "CacheControl",
          "documentation": "Specifies caching behavior along the request/reply chain.",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ContentDisposition": {
          "shape": "ContentDisposition",
          "documentation": "Specifies presentational information for the object.",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "ContentEncoding",
          "documentation": "Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "ContentLanguage",
          "documentation": "The language the content is in.",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentType": {
          "shape": "ContentType",
          "documentation": "A standard MIME type describing the format of the object data.",
          "location": "header",
          "locationName": "Content-Type"
        },
        "CopySource": {
          "shape": "CopySource",
          "documentation": "The name of the source bucket and key name of the source object, separated by a slash (/). Must be URL-encoded.",
          "location": "header",
          "locationName": "x-amz-copy-source"
        },
        "CopySourceIfMatch": {
          "shape": "CopySourceIfMatch",
          "documentation": "Copies the object if its entity tag (ETag) matches the specified tag.",
          "location": "header",
          "locationName": "x-amz-copy-source-if-match"
        },
        "CopySourceIfModifiedSince": {
          "shape": "CopySourceIfModifiedSince",
          "documentation": "Copies the object if it has been modified since the specified time.",
          "location": "header",
          "locationName": "x-amz-copy-source-if-modified-since"
        },
        "CopySourceIfNoneMatch": {
          "shape": "CopySourceIfNoneMatch",
          "documentation": "Copies the object if its entity tag (ETag) is different than the specified ETag.",
          "location": "header",
          "locationName": "x-amz-copy-source-if-none-match"
        },
        "CopySourceIfUnmodifiedSince": {
          "shape": "CopySourceIfUnmodifiedSince",
          "documentation": "Copies the object if it hasn't been modified since the specified time.",
          "location": "header",
          "locationName": "x-amz-copy-source-if-unmodified-since"
        },
        "Expires": {
          "shape": "Expires",
          "documentation": "The date and time at which the object is no longer cacheable.",
          "location": "header",
          "locationName": "Expires"
        },
        "GrantFullControl": {
          "shape": "GrantFullControl",
          "documentation": "Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.",
          "location": "header",
          "locationName": "x-amz-grant-full-control"
        },
        "GrantRead": {
          "shape": "GrantRead",
          "documentation": "Allows grantee to read the object data and its metadata.",
          "location": "header",
          "locationName": "x-amz-grant-read"
        },
        "GrantReadACP": {
          "shape": "GrantReadACP",
          "documentation": "Allows grantee to read the object ACL.",
          "location": "header",
          "locationName": "x-amz-grant-read-acp"
        },
        "GrantWriteACP": {
          "shape": "GrantWriteACP",
          "documentation": "Allows grantee to write the ACL for the applicable object.",
          "location": "header",
          "locationName": "x-amz-grant-write-acp"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "Metadata": {
          "shape": "Metadata",
          "documentation": "A map of metadata to store with the object in S3.",
          "location": "headers",
          "locationName": "x-amz-meta-"
        },
        "MetadataDirective": {
          "shape": "MetadataDirective",
          "documentation": "Specifies whether the metadata is copied from the source object or replaced with metadata provided in the request.",
          "location": "header",
          "locationName": "x-amz-metadata-directive"
        },
        "TaggingDirective": {
          "shape": "TaggingDirective",
          "documentation": "<p>Specifies whether the object tag-set are copied from the source object or replaced with tag-set provided in the request.</p>",
          "location": "header",
          "locationName": "x-amz-tagging-directive"
        },
        "RetentionDirective": {
          "shape": "RetentionDirective",
          "documentation": "This header controls how the Protection state of the source object is copied to the destination object.If copied, the retention period and all legal holds are copied onto the new object. The legal hold date's is set to the date of the copy.",
          "location": "header",
          "locationName": "Retention-Directive"
        },
        "RetentionExpirationDate": {
          "shape": "RetentionExpirationDate",
          "documentation": "Date on which it will be legal to delete or modify the object. You can only specify this or the Retention-Period header. If both are specified a 400 error will be returned. If neither is specified the bucket's DefaultRetention period will be used. This header should be used to calculate a retention period in seconds and then stored in that manner.",
          "location": "header",
          "locationName": "Retention-Expiration-Date"
        },
        "RetentionLegalHoldId": {
          "shape": "RetentionLegalHoldID",
          "documentation": "A single legal hold to apply to the object. A legal hold is a Y character long string. The object cannot be overwritten or deleted until all legal holds associated with the object are removed.",
          "location": "header",
          "locationName": "Retention-Legal-Hold-ID"
        },
        "RetentionPeriod": {
          "shape": "RetentionPeriod",
          "documentation": "Retention period to store on the object in seconds. If this field and Retention-Expiration-Date are specified a 400 error is returned. If neither is specified the bucket's DefaultRetention period will be used. 0 is a legal value assuming the bucket's minimum retention period is also 0.",
          "location": "header",
          "locationName": "Retention-Period"
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "StorageClass": {
          "shape": "StorageClass",
          "documentation": "The type of storage to use for the object. Defaults to 'STANDARD'.",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "VersionId used to reference a specific version of the object.",
          "location": "querystring",
          "locationName": "versionId"
        },
        "WebsiteRedirectLocation": {
          "shape": "WebsiteRedirectLocation",
          "documentation": "<p>If the bucket is configured as a website, redirects requests for this object to another object in the same bucket or to an external URL. Amazon S3 stores the value of this header in the object metadata.</p>",
          "location": "header",
          "locationName": "x-amz-website-redirect-location"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "Specifies the algorithm to use to when encrypting the object (e.g., AES256).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "SSECustomerKey",
          "documentation": "Specifies the customer-provided encryption key for IBM COS to use in encrypting data. This value is used to store the object and then it is discarded; IBM does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. IBM COS uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "Applies only to Amazon S3. Specifies the AWS KMS key ID to use for object encryption. All GET and PUT requests for an object protected by AWS KMS will fail if not made via SSL or using SigV4. Documentation on configuring any of the officially supported AWS SDKs and CLI can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "CopySourceSSECustomerAlgorithm": {
          "shape": "CopySourceSSECustomerAlgorithm",
          "documentation": "Specifies the algorithm to use when decrypting the source object (e.g., AES256).",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-algorithm"
        },
        "CopySourceSSECustomerKey": {
          "shape": "CopySourceSSECustomerKey",
          "documentation": "Specifies the customer-provided encryption key for IBM COS to use to decrypt the source object. The encryption key provided in this header must be one that was used when the source object was created.",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-key"
        },
        "CopySourceSSECustomerKeyMD5": {
          "shape": "CopySourceSSECustomerKeyMD5",
          "documentation": "Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. IBM COS uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location": "header",
          "locationName": "x-amz-copy-source-server-side-encryption-customer-key-MD5"
        },
        "Tagging": {
          "shape": "TaggingHeader",
          "documentation": "<p>The tag-set for the object destination object this value must be used in conjunction with the <code>TaggingDirective</code>. The tag-set must be encoded as URL Query parameters.</p>",
          "location": "header",
          "locationName": "x-amz-tagging"
        }
      }
    },
    "CopyObjectResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "shape": "ETag"
        },
        "LastModified": {
          "shape": "LastModified"
        }
      }
    },
    "CopyPartResult": {
      "type": "structure",
      "members": {
        "ETag": {
          "shape": "ETag",
          "documentation": "Entity tag of the object."
        },
        "LastModified": {
          "shape": "LastModified",
          "documentation": "Date and time at which the object was uploaded."
        }
      }
    },
    "CopySource": {
      "type": "string",
      "pattern": "\\/.+\\/.+"
    },
    "CopySourceIfMatch": {
      "type": "string"
    },
    "CopySourceIfModifiedSince": {
      "type": "timestamp"
    },
    "CopySourceIfNoneMatch": {
      "type": "string"
    },
    "CopySourceIfUnmodifiedSince": {
      "type": "timestamp"
    },
    "CopySourceRange": {
      "type": "string"
    },
    "CopySourceSSECustomerAlgorithm": {
      "type": "string"
    },
    "CopySourceSSECustomerKey": {
      "type": "blob",
      "sensitive": true
    },
    "CopySourceSSECustomerKeyMD5": {
      "type": "string"
    },
    "CopySourceVersionId": {
      "type": "string"
    },
    "CreateBucketConfiguration": {
      "type": "structure",
      "members": {
        "LocationConstraint": {
          "shape": "BucketLocationConstraint",
          "documentation": "Specifies the region where the bucket will be created. If you don't specify a region, the bucket will be created in US Standard."
        }
      }
    },
    "CreateBucketOutput": {
      "type": "structure",
      "members": {
        "Location": {
          "shape": "Location",
          "location": "header",
          "locationName": "Location"
        }
      }
    },
    "CreateBucketRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "ACL": {
          "shape": "BucketCannedACL",
          "documentation": "The canned ACL to apply to the bucket.",
          "location": "header",
          "locationName": "x-amz-acl"
        },
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "CreateBucketConfiguration": {
          "shape": "CreateBucketConfiguration",
          "locationName": "CreateBucketConfiguration",
          "xmlNamespace": {
            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
          }
        },
        "GrantFullControl": {
          "shape": "GrantFullControl",
          "documentation": "Allows grantee the read, write, read ACP, and write ACP permissions on the bucket.",
          "location": "header",
          "locationName": "x-amz-grant-full-control"
        },
        "GrantRead": {
          "shape": "GrantRead",
          "documentation": "Allows grantee to list the objects in the bucket.",
          "location": "header",
          "locationName": "x-amz-grant-read"
        },
        "GrantReadACP": {
          "shape": "GrantReadACP",
          "documentation": "Allows grantee to read the bucket ACL.",
          "location": "header",
          "locationName": "x-amz-grant-read-acp"
        },
        "GrantWrite": {
          "shape": "GrantWrite",
          "documentation": "Allows grantee to create, overwrite, and delete any object in the bucket.",
          "location": "header",
          "locationName": "x-amz-grant-write"
        },
        "GrantWriteACP": {
          "shape": "GrantWriteACP",
          "documentation": "Allows grantee to write the ACL for the applicable bucket.",
          "location": "header",
          "locationName": "x-amz-grant-write-acp"
        },
        "IBMServiceInstanceId": {
          "shape": "IBMServiceInstanceId",
          "location": "header",
          "locationName": "Ibm-Service-Instance-Id",
          "documentation": "The storage account who will be the owner of the bucket."
        },
        "IBMSSEKPEncryptionAlgorithm":{
          "shape": "IBMSSEKPEncryptionAlgorithm",
          "location":"header",
          "locationName":"ibm-sse-kp-encryption-algorithm"
        },
        "IBMSSEKPCustomerRootKeyCrn":{
          "shape": "IBMSSEKPCustomerRootKeyCrn",
          "location":"header",
          "locationName":"ibm-sse-kp-customer-root-key-crn"
        }
      },
      "payload": "CreateBucketConfiguration"
    },
    "CreateMultipartUploadOutput": {
      "type": "structure",
      "members": {
        "AbortDate": {
          "shape": "AbortDate",
          "documentation": "Date when multipart upload will become eligible for abort operation by lifecycle.",
          "location": "header",
          "locationName": "x-amz-abort-date"
        },
        "AbortRuleId": {
          "shape": "AbortRuleId",
          "documentation": "Id of the lifecycle rule that makes a multipart upload eligible for abort operation.",
          "location": "header",
          "locationName": "x-amz-abort-rule-id"
        },
        "Bucket": {
          "shape": "BucketName",
          "documentation": "Name of the bucket to which the multipart upload was initiated.",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "documentation": "Object key for which the multipart upload was initiated."
        },
        "UploadId": {
          "shape": "MultipartUploadId",
          "documentation": "ID for the initiated multipart upload."
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header confirming the encryption algorithm used.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "If server-side encryption with a customer-provided encryption key was requested, the response will include this header to provide round trip message integrity verification of the customer-provided encryption key.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "If present, specifies the ID of the AWS Key Management Service (KMS) master encryption key that was used for the object.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        }
      }
    },
    "CreateMultipartUploadRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "ACL": {
          "shape": "ObjectCannedACL",
          "documentation": "The canned ACL to apply to the object.",
          "location": "header",
          "locationName": "x-amz-acl"
        },
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "CacheControl": {
          "shape": "CacheControl",
          "documentation": "Specifies caching behavior along the request/reply chain.",
          "location": "header",
          "locationName": "Cache-Control"
        },
        "ContentDisposition": {
          "shape": "ContentDisposition",
          "documentation": "Specifies presentational information for the object.",
          "location": "header",
          "locationName": "Content-Disposition"
        },
        "ContentEncoding": {
          "shape": "ContentEncoding",
          "documentation": "Specifies what content encodings have been applied to the object and thus what decoding mechanisms must be applied to obtain the media-type referenced by the Content-Type header field.",
          "location": "header",
          "locationName": "Content-Encoding"
        },
        "ContentLanguage": {
          "shape": "ContentLanguage",
          "documentation": "The language the content is in.",
          "location": "header",
          "locationName": "Content-Language"
        },
        "ContentType": {
          "shape": "ContentType",
          "documentation": "A standard MIME type describing the format of the object data.",
          "location": "header",
          "locationName": "Content-Type"
        },
        "Expires": {
          "shape": "Expires",
          "documentation": "The date and time at which the object is no longer cacheable.",
          "location": "header",
          "locationName": "Expires"
        },
        "GrantFullControl": {
          "shape": "GrantFullControl",
          "documentation": "Gives the grantee READ, READ_ACP, and WRITE_ACP permissions on the object.",
          "location": "header",
          "locationName": "x-amz-grant-full-control"
        },
        "GrantRead": {
          "shape": "GrantRead",
          "documentation": "Allows grantee to read the object data and its metadata.",
          "location": "header",
          "locationName": "x-amz-grant-read"
        },
        "GrantReadACP": {
          "shape": "GrantReadACP",
          "documentation": "Allows grantee to read the object ACL.",
          "location": "header",
          "locationName": "x-amz-grant-read-acp"
        },
        "GrantWriteACP": {
          "shape": "GrantWriteACP",
          "documentation": "Allows grantee to write the ACL for the applicable object.",
          "location": "header",
          "locationName": "x-amz-grant-write-acp"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "Metadata": {
          "shape": "Metadata",
          "documentation": "A map of metadata to store with the object in S3.",
          "location": "headers",
          "locationName": "x-amz-meta-"
        },
        "ServerSideEncryption": {
          "shape": "ServerSideEncryption",
          "documentation": "The Server-side encryption algorithm used when storing this object in S3 (e.g., AES256, aws:kms).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption"
        },
        "StorageClass": {
          "shape": "StorageClass",
          "documentation": "The type of storage to use for the object. Defaults to 'STANDARD'.",
          "location": "header",
          "locationName": "x-amz-storage-class"
        },
        "WebsiteRedirectLocation": {
          "shape": "WebsiteRedirectLocation",
          "documentation": "<p>If the bucket is configured as a website, redirects requests for this object to another object in the same bucket or to an external URL. Amazon S3 stores the value of this header in the object metadata.</p>",
          "location": "header",
          "locationName": "x-amz-website-redirect-location"
        },
        "SSECustomerAlgorithm": {
          "shape": "SSECustomerAlgorithm",
          "documentation": "Specifies the algorithm to use to when encrypting the object (e.g., AES256).",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-algorithm"
        },
        "SSECustomerKey": {
          "shape": "SSECustomerKey",
          "documentation": "Specifies the customer-provided encryption key for Amazon S3 to use in encrypting data. This value is used to store the object and then it is discarded; IBM does not store the encryption key. The key must be appropriate for use with the algorithm specified in the x-amz-server-side​-encryption​-customer-algorithm header.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key"
        },
        "SSECustomerKeyMD5": {
          "shape": "SSECustomerKeyMD5",
          "documentation": "Specifies the 128-bit MD5 digest of the encryption key according to RFC 1321. IBM COS uses this header for a message integrity check to ensure the encryption key was transmitted without error.",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-customer-key-MD5"
        },
        "SSEKMSKeyId": {
          "shape": "SSEKMSKeyId",
          "documentation": "Specifies the AWS KMS key ID to use for object encryption. All GET and PUT requests for an object protected by AWS KMS will fail if not made via SSL or using SigV4. Documentation on configuring any of the officially supported AWS SDKs and CLI can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingAWSSDK.html#specify-signature-version",
          "location": "header",
          "locationName": "x-amz-server-side-encryption-aws-kms-key-id"
        },
        "Tagging": {
          "shape": "TaggingHeader",
          "documentation": "<p>The tag-set for the object. The tag-set must be encoded as URL Query parameters.</p>",
          "location": "header",
          "locationName": "x-amz-tagging"
        }
      }
    },
    "CreationDate": {
      "type": "timestamp"
    },
    "Date": {
      "type": "timestamp",
      "timestampFormat": "iso8601"
    },
    "Days": {
      "type": "integer"
    },
    "DaysAfterInitiation": {
      "type": "integer"
    },
    "Delete": {
      "type": "structure",
      "required": [
        "Objects"
      ],
      "members": {
        "Objects": {
          "shape": "ObjectIdentifierList",
          "locationName": "Object"
        },
        "Quiet": {
          "shape": "Quiet",
          "documentation": "Element to enable quiet mode for the request. When you add this element, you must set its value to true."
        }
      }
    },
    "DeleteBucketCorsRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "DeleteBucketLifecycleRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "DeleteBucketRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "DeleteBucketTaggingRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "documentation": "<p/>",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "DeleteBucketWebsiteRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "documentation": "<p>The bucket name for which you want to remove the website configuration. </p>",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "DeleteMarker": {
      "type": "boolean"
    },
    "DeleteMarkerEntry": {
      "type": "structure",
      "members": {
        "Owner": {
          "shape": "Owner"
        },
        "Key": {
          "shape": "ObjectKey",
          "documentation": "The object key."
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "Version ID of an object."
        },
        "IsLatest": {
          "shape": "IsLatest",
          "documentation": "Specifies whether the object is (true) or is not (false) the latest version of an object."
        },
        "LastModified": {
          "shape": "LastModified",
          "documentation": "Date and time the object was last modified."
        }
      }
    },
    "DeleteMarkerVersionId": {
      "type": "string"
    },
    "DeleteMarkers": {
      "type": "list",
      "member": {
        "shape": "DeleteMarkerEntry"
      },
      "flattened": true
    },
    "DeleteObjectOutput": {
      "type": "structure",
      "members": {
        "DeleteMarker": {
          "shape": "DeleteMarker",
          "documentation": "If versioning is enabled, specifies whether the versioned object that was permanently deleted was (true) or was not (false) a delete marker.",
          "location": "header",
          "locationName": "x-amz-delete-marker"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "If versioning is enabled, returns the version ID of the delete marker created as a result of the DELETE operation.",
          "location": "header",
          "locationName": "x-amz-version-id"
        }
      }
    },
    "DeleteObjectRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "MFA": {
          "shape": "MFA",
          "documentation": "The concatenation of the authentication device's serial number, a space, and the value that is displayed on your authentication device.",
          "location": "header",
          "locationName": "x-amz-mfa"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "VersionId used to reference a specific version of the object.",
          "location": "querystring",
          "locationName": "versionId"
        }
      }
    },
    "DeleteObjectTaggingOutput": {
      "type": "structure",
      "members": {
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "<p>The versionId of the object the tag-set was removed from.</p>",
          "location": "header",
          "locationName": "x-amz-version-id"
        }
      }
    },
    "DeleteObjectTaggingRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "documentation": "<p>The bucket name containing the objects from which to remove the tags. </p> <p>When using this API with an access point, you must direct requests to the access point hostname. The access point hostname takes the form <i>AccessPointName</i>-<i>AccountId</i>.s3-accesspoint.<i>Region</i>.amazonaws.com. When using this operation using an access point through the AWS SDKs, you provide the access point ARN in place of the bucket name. For more information about access point ARNs, see <a href=\"https://docs.aws.amazon.com/AmazonS3/latest/dev/using-access-points.html\">Using Access Points</a> in the <i>Amazon Simple Storage Service Developer Guide</i>.</p>",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "documentation": "<p>Name of the tag.</p>",
          "location": "uri",
          "locationName": "Key"
        },
        "VersionId": {
          "shape": "ObjectVersionId",
          "documentation": "<p>The versionId of the object that the tag-set will be removed from.</p>",
          "location": "querystring",
          "locationName": "versionId"
        }
      }
    },
    "DeleteObjectsOutput": {
      "type": "structure",
      "members": {
        "Deleted": {
          "shape": "DeletedObjects"
        },
        "Errors": {
          "shape": "Errors",
          "locationName": "Error"
        }
      }
    },
    "DeleteObjectsRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Delete"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Delete": {
          "shape": "Delete",
          "locationName": "Delete",
          "xmlNamespace": {
            "uri": "http://s3.amazonaws.com/doc/2006-03-01/"
          }
        },
        "MFA": {
          "shape": "MFA",
          "documentation": "The concatenation of the authentication device's serial number, a space, and the value that is displayed on your authentication device.",
          "location": "header",
          "locationName": "x-amz-mfa"
        }
      },
      "payload": "Delete"
    },
    "DeletePublicAccessBlockRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "documentation": "<p>The Amazon S3 bucket whose <code>PublicAccessBlock</code> configuration you want to delete. </p>",
          "location": "uri",
          "locationName": "Bucket"
        },
        "ExpectedBucketOwner": {
          "shape": "AccountId",
          "documentation": "<p>The account id of the expected bucket owner. If the bucket is owned by a different account, the request will fail with an HTTP <code>403 (Access Denied)</code> error.</p>",
          "location": "header",
          "locationName": "x-amz-expected-bucket-owner"
        }
      }
    },
    "DeletedObject": {
      "type": "structure",
      "members": {
        "Key": {
          "shape": "ObjectKey"
        },
        "VersionId": {
          "shape": "ObjectVersionId"
        },
        "DeleteMarker": {
          "shape": "DeleteMarker"
        },
        "DeleteMarkerVersionId": {
          "shape": "DeleteMarkerVersionId"
        }
      }
    },
    "DeletedObjects": {
      "type": "list",
      "member": {
        "shape": "DeletedObject"
      },
      "flattened": true
    },
    "Delimiter": {
      "type": "string"
    },
    "Destination": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "documentation": "Name of the bucket where you want IBM COS to store replicas of the object identified by the rule."
        },
        "StorageClass": {
          "shape": "StorageClass",
          "documentation": "The class of storage used to store the object."
        }
      }
    },
    "DisplayName": {
      "type": "string"
    },
    "ETag": {
      "type": "string"
    },
    "EmailAddress": {
      "type": "string"
    },
    "EncodingType": {
      "type": "string",
      "documentation": "Requests IBM COS to encode the object keys in the response and specifies the encoding method to use. An object key may contain any Unicode character; however, XML 1.0 parser cannot parse some characters, such as characters with an ASCII value from 0 to 10. For characters that are not supported in XML 1.0, you can add this parameter to request that IBM COS encode the keys in the response.",
      "enum": [
        "url"
      ]
    },
    "Error": {
      "type": "structure",
      "members": {
        "Key": {
          "shape": "ObjectKey"
        },
        "VersionId": {
          "shape": "ObjectVersionId"
        },
        "Code": {
          "shape": "Code"
        },
        "Message": {
          "shape": "Message"
        }
      }
    },
    "ErrorDocument": {
      "type": "structure",
      "required": [
        "Key"
      ],
      "members": {
        "Key": {
          "shape": "ObjectKey",
          "documentation": "The object key name to use when a 4XX class error occurs."
        }
      }
    },
    "Errors": {
      "type": "list",
      "member": {
        "shape": "Error"
      },
      "flattened": true
    },
    "Event": {
      "type": "string",
      "documentation": "Bucket event for which to send notifications.",
      "enum": [
        "s3:ReducedRedundancyLostObject",
        "s3:ObjectCreated:*",
        "s3:ObjectCreated:Put",
        "s3:ObjectCreated:Post",
        "s3:ObjectCreated:Copy",
        "s3:ObjectCreated:CompleteMultipartUpload",
        "s3:ObjectRemoved:*",
        "s3:ObjectRemoved:Delete",
        "s3:ObjectRemoved:DeleteMarkerCreated"
      ]
    },
    "EventList": {
      "type": "list",
      "member": {
        "shape": "Event"
      },
      "flattened": true
    },
    "Expiration": {
      "type": "string"
    },
    "ExpirationStatus": {
      "type": "string",
      "enum": [
        "Enabled",
        "Disabled"
      ]
    },
    "ExpiredObjectDeleteMarker": {
      "type": "boolean"
    },
    "Expires": {
      "type": "timestamp"
    },
    "ExposeHeader": {
      "type": "string"
    },
    "ExposeHeaders": {
      "type": "list",
      "member": {
        "shape": "ExposeHeader"
      },
      "flattened": true
    },
    "ExtendObjectRetentionRequest": {
      "type": "structure",
      "required": [
        "Bucket",
        "Key"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "Key": {
          "shape": "ObjectKey",
          "location": "uri",
          "locationName": "Key"
        },
        "AdditionalRetentionPeriod": {
          "shape": "AdditionalRetentionPeriod",
          "location": "header",
          "locationName": "Additional-Retention-Period"
        },
        "ExtendRetentionFromCurrentTime": {
          "shape": "ExtendRetentionFromCurrentTime",
          "location": "header",
          "locationName": "Extend-Retention-From-Current-Time"
        },
        "NewRetentionExpirationDate": {
          "shape": "NewRetentionExpirationDate",
          "location": "header",
          "locationName": "New-Retention-Expiration-Date"
        },
        "NewRetentionPeriod": {
          "shape": "NewRetentionPeriod",
          "location": "header",
          "locationName": "New-Retention-Period"
        }
      },
      "documentation": "Container for making extensions to object retention"
    },
    "ExtendRetentionFromCurrentTime": {
      "type": "integer",
      "documentation": "Retention Period in seconds for the object.  The Retention will be enforced from the current time until current time + the value in this header. This header will only be supported for objects that are currently stored with an indefinite retention period (-1).  This value has to be within the ranges defined for the bucket."
    },
    "FetchOwner": {
      "type": "boolean"
    },
    "FilterRule": {
      "type": "structure",
      "members": {
        "Name": {
          "shape": "FilterRuleName",
          "documentation": "Object key name prefix or suffix identifying one or more objects to which the filtering rule applies. Maximum prefix length can be up to 1,024 characters. Overlapping prefixes and suffixes are not supported."
        },
        "Value": {
          "shape": "FilterRuleValue"
        }
      },
      "documentation": "Container for key value pair that defines the criteria for the filter rule."
    },
    "FilterRuleList": {
      "type": "list",
      "member": {
        "shape": "FilterRule"
      },
      "documentation": "A list of containers for key value pair that defines the criteria for the filter rule.",
      "flattened": true
    },
    "FilterRuleName": {
      "type": "string",
      "enum": [
        "prefix",
        "suffix"
      ]
    },
    "FilterRuleValue": {
      "type": "string"
    },
    "GetBucketAclOutput": {
      "type": "structure",
      "members": {
        "Owner": {
          "shape": "Owner"
        },
        "Grants": {
          "shape": "Grants",
          "documentation": "A list of grants.",
          "locationName": "AccessControlList"
        }
      }
    },
    "GetBucketAclRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "GetBucketCorsOutput": {
      "type": "structure",
      "members": {
        "CORSRules": {
          "shape": "CORSRules",
          "locationName": "CORSRule"
        }
      }
    },
    "GetBucketCorsRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        },
        "MirrorDestination": {
          "shape": "MirrorDestination",
          "location": "header",
          "locationName": "Mirror-Destination"
        }
      }
    },
    "GetBucketLifecycleConfigurationOutput": {
      "type": "structure",
      "members": {
        "Rules": {
          "shape": "LifecycleRules",
          "locationName": "Rule"
        }
      }
    },
    "GetBucketLifecycleConfigurationRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
      "members": {
        "Bucket": {
          "shape": "BucketName",
          "location": "uri",
          "locationName": "Bucket"
        }
      }
    },
    "GetBucketLifecycleOutput": {
      "type": "structure",
      "members": {
        "Rules": {
          "shape": "Rules",
          "locationName": "Rule"
        }
      }
    },
    "GetBucketLifecycleRequest": {
      "type": "structure",
      "required": [
        "Bucket"
      ],
[...]
